<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<script>
		//s: seion; d: dakuon; y: yoon
		var kana = [
			{a:"a",q:"あ",t:"h",s:1},{a:"a",q:"ア",t:"k",s:1},
			{a:"i",q:"い",t:"h",s:1},{a:"i",q:"イ",t:"k",s:1},
			{a:"u",q:"う",t:"h",s:1},{a:"u",q:"ウ",t:"k",s:1},
			{a:"e",q:"え",t:"h",s:1},{a:"e",q:"エ",t:"k",s:1},
			{a:"o",q:"お",t:"h",s:1},{a:"o",q:"オ",t:"k",s:1},
			{a:"ka",q:"か",t:"h",s:1},{a:"ka",q:"カ",t:"k",s:1},
			{a:"ki",q:"き",t:"h",s:1},{a:"ki",q:"キ",t:"k",s:1},
			{a:"ku",q:"く",t:"h",s:1},{a:"ku",q:"ク",t:"k",s:1},
			{a:"ke",q:"け",t:"h",s:1},{a:"ke",q:"ケ",t:"k",s:1},
			{a:"ko",q:"こ",t:"h",s:1},{a:"ko",q:"コ",t:"k",s:1},
			{a:"sa",q:"さ",t:"h",s:1},{a:"sa",q:"サ",t:"k",s:1},
			{a:"shi",q:"し",t:"h",s:1},{a:"shi",q:"シ",t:"k",s:1},
			{a:"su",q:"す",t:"h",s:1},{a:"su",q:"ス",t:"k",s:1},
			{a:"se",q:"せ",t:"h",s:1},{a:"se",q:"セ",t:"k",s:1},
			{a:"so",q:"そ",t:"h",s:1},{a:"so",q:"ソ",t:"k",s:1},
			{a:"ta",q:"た",t:"h",s:1},{a:"ta",q:"タ",t:"k",s:1},
			{a:"chi",q:"ち",t:"h",s:1},{a:"chi",q:"チ",t:"k",s:1},
			{a:"tsu",q:"つ",t:"h",s:1},{a:"tsu",q:"ツ",t:"k",s:1},
			{a:"te",q:"て",t:"h",s:1},{a:"te",q:"テ",t:"k",s:1},
			{a:"to",q:"と",t:"h",s:1},{a:"to",q:"ト",t:"k",s:1},
			{a:"na",q:"な",t:"h",s:1},{a:"na",q:"ナ",t:"k",s:1},
			{a:"ni",q:"に",t:"h",s:1},{a:"ni",q:"ニ",t:"k",s:1},
			{a:"nu",q:"ぬ",t:"h",s:1},{a:"nu",q:"ヌ",t:"k",s:1},
			{a:"ne",q:"ね",t:"h",s:1},{a:"ne",q:"ネ",t:"k",s:1},
			{a:"no",q:"の",t:"h",s:1},{a:"no",q:"ノ",t:"k",s:1},
			{a:"ha",q:"は",t:"h",s:1},{a:"ha",q:"ハ",t:"k",s:1},
			{a:"hi",q:"ひ",t:"h",s:1},{a:"hi",q:"ヒ",t:"k",s:1},
			{a:"fu",q:"ふ",t:"h",s:1},{a:"fu",q:"フ",t:"k",s:1},
			{a:"he",q:"へ",t:"h",s:1},{a:"he",q:"ヘ",t:"k",s:1},
			{a:"ho",q:"ほ",t:"h",s:1},{a:"ho",q:"ホ",t:"k",s:1},
			{a:"ma",q:"ま",t:"h",s:1},{a:"ma",q:"マ",t:"k",s:1},
			{a:"mi",q:"み",t:"h",s:1},{a:"mi",q:"ミ",t:"k",s:1},
			{a:"mu",q:"む",t:"h",s:1},{a:"mu",q:"ム",t:"k",s:1},
			{a:"me",q:"め",t:"h",s:1},{a:"me",q:"メ",t:"k",s:1},
			{a:"mo",q:"も",t:"h",s:1},{a:"mo",q:"モ",t:"k",s:1},
			{a:"ya",q:"や",t:"h",s:1},{a:"ya",q:"ヤ",t:"k",s:1},
			{a:"yu",q:"ゆ",t:"h",s:1},{a:"yu",q:"ユ",t:"k",s:1},
			{a:"yo",q:"よ",t:"h",s:1},{a:"yo",q:"ヨ",t:"k",s:1},
			{a:"ga",q:"が",t:"h",d:1},{a:"ga",q:"ガ",t:"k",d:1},
			{a:"gi",q:"ぎ",t:"h",d:1},{a:"gi",q:"ギ",t:"k",d:1},
			{a:"gu",q:"ぐ",t:"h",d:1},{a:"gu",q:"グ",t:"k",d:1},
			{a:"ge",q:"げ",t:"h",d:1},{a:"ge",q:"ゲ",t:"k",d:1},
			{a:"go",q:"ご",t:"h",d:1},{a:"go",q:"ゴ",t:"k",d:1},
			{a:"za",q:"ざ",t:"h",d:1},{a:"za",q:"ザ",t:"k",d:1},
			{a:"ji",q:"じ",t:"h",d:1},{a:"ji",q:"ジ",t:"k",d:1},
			{a:"zu",q:"ず",t:"h",d:1},{a:"zu",q:"ズ",t:"k",d:1},
			{a:"ze",q:"ぜ",t:"h",d:1},{a:"ze",q:"ゼ",t:"k",d:1},
			{a:"zo",q:"ぞ",t:"h",d:1},{a:"zo",q:"ゾ",t:"k",d:1},
			{a:"da",q:"だ",t:"h",d:1},{a:"da",q:"ダ",t:"k",d:1},
			{a:"ji",q:"ぢ",t:"h",d:1},{a:"ji",q:"ヂ",t:"k",d:1},
			{a:"zu",q:"づ",t:"h",d:1},{a:"zu",q:"ヅ",t:"k",d:1},
			{a:"de",q:"で",t:"h",d:1},{a:"de",q:"デ",t:"k",d:1},
			{a:"do",q:"ど",t:"h",d:1},{a:"do",q:"ド",t:"k",d:1},
			{a:"ba",q:"ば",t:"h",d:1},{a:"ba",q:"バ",t:"k",d:1},
			{a:"bi",q:"び",t:"h",d:1},{a:"bi",q:"ビ",t:"k",d:1},
			{a:"bu",q:"ぶ",t:"h",d:1},{a:"bu",q:"ブ",t:"k",d:1},
			{a:"be",q:"べ",t:"h",d:1},{a:"be",q:"ベ",t:"k",d:1},
			{a:"bo",q:"ぼ",t:"h",d:1},{a:"bo",q:"ボ",t:"k",d:1},
			{a:"pa",q:"ぱ",t:"h",d:1},{a:"pa",q:"パ",t:"k",d:1},
			{a:"pi",q:"ぴ",t:"h",d:1},{a:"pi",q:"ピ",t:"k",d:1},
			{a:"pu",q:"ぷ",t:"h",d:1},{a:"pu",q:"プ",t:"k",d:1},
			{a:"pe",q:"ぺ",t:"h",d:1},{a:"pe",q:"ペ",t:"k",d:1},
			{a:"po",q:"ぽ",t:"h",d:1},{a:"po",q:"ポ",t:"k",d:1},
			{a:"kya",q:"きゃ",t:"h",y:1},{a:"kya",q:"キャ",t:"k",y:1},
			{a:"kyu",q:"きゅ",t:"h",y:1},{a:"kyu",q:"キュ",t:"k",y:1},
			{a:"kyo",q:"きょ",t:"h",y:1},{a:"kyo",q:"キョ",t:"k",y:1},
			{a:"sha",q:"しゃ",t:"h",y:1},{a:"sha",q:"シャ",t:"k",y:1},
			{a:"shu",q:"しゅ",t:"h",y:1},{a:"shu",q:"シュ",t:"k",y:1},
			{a:"sho",q:"しょ",t:"h",y:1},{a:"sho",q:"ショ",t:"k",y:1},
			{a:"cha",q:"ちゃ",t:"h",y:1},{a:"cha",q:"チャ",t:"k",y:1},
			{a:"chu",q:"ちゅ",t:"h",y:1},{a:"chu",q:"チュ",t:"k",y:1},
			{a:"cho",q:"ちょ",t:"h",y:1},{a:"cho",q:"チョ",t:"k",y:1},
			{a:"nya",q:"にゃ",t:"h",y:1},{a:"nya",q:"ニャ",t:"k",y:1},
			{a:"nyu",q:"にゅ",t:"h",y:1},{a:"nyu",q:"ニュ",t:"k",y:1},
			{a:"nyo",q:"にょ",t:"h",y:1},{a:"nyo",q:"ニョ",t:"k",y:1},
			{a:"hya",q:"ひゃ",t:"h",y:1},{a:"hya",q:"ヒャ",t:"k",y:1},
			{a:"hyu",q:"ひゅ",t:"h",y:1},{a:"hyu",q:"ヒュ",t:"k",y:1},
			{a:"hyo",q:"ひょ",t:"h",y:1},{a:"hyo",q:"ヒョ",t:"k",y:1},
			{a:"mya",q:"みゃ",t:"h",y:1},{a:"mya",q:"ミャ",t:"k",y:1},
			{a:"myu",q:"みゅ",t:"h",y:1},{a:"myu",q:"ミュ",t:"k",y:1},
			{a:"myo",q:"みょ",t:"h",y:1},{a:"myo",q:"ミョ",t:"k",y:1},
			{a:"rya",q:"りゃ",t:"h",y:1},{a:"rya",q:"リャ",t:"k",y:1},
			{a:"ryu",q:"りゅ",t:"h",y:1},{a:"ryu",q:"リュ",t:"k",y:1},
			{a:"ryo",q:"りょ",t:"h",y:1},{a:"ryo",q:"リョ",t:"k",y:1},
			{a:"gya",q:"ぎゃ",t:"h",y:1,d:1},{a:"gya",q:"ギャ",t:"k",y:1,d:1},
			{a:"gyu",q:"ぎゅ",t:"h",y:1,d:1},{a:"gyu",q:"ギュ",t:"k",y:1,d:1},
			{a:"gyo",q:"ぎょ",t:"h",y:1,d:1},{a:"gyo",q:"ギョ",t:"k",y:1,d:1},
			{a:"ja",q:"じゃ",t:"h",y:1,d:1},{a:"ja",q:"ジャ",t:"k",y:1,d:1},
			{a:"ju",q:"じゅ",t:"h",y:1,d:1},{a:"ju",q:"ジュ",t:"k",y:1,d:1},
			{a:"jo",q:"じょ",t:"h",y:1,d:1},{a:"jo",q:"ジョ",t:"k",y:1,d:1},
			{a:"bya",q:"びゃ",t:"h",y:1,d:1},{a:"bya",q:"ビャ",t:"k",y:1,d:1},
			{a:"byu",q:"びゅ",t:"h",y:1,d:1},{a:"byu",q:"ビュ",t:"k",y:1,d:1},
			{a:"byo",q:"びょ",t:"h",y:1,d:1},{a:"byo",q:"ビョ",t:"k",y:1,d:1},
			{a:"pya",q:"ぴゃ",t:"h",y:1,d:1},{a:"pya",q:"ピャ",t:"k",y:1,d:1},
			{a:"pyu",q:"ぴゅ",t:"h",y:1,d:1},{a:"pyu",q:"ピュ",t:"k",y:1,d:1},
			{a:"pyo",q:"ぴょ",t:"h",y:1,d:1},{a:"pyo",q:"ピョ",t:"k",y:1,d:1}
		];
		
		$(function() {
			new Vue({
				el: "#app",
				template: "#main",
				data: {
					master: kana,
					types: {
						h: {
							name: "Hiragana",
							abbr: "Hira"
						},
						k: {
							name: "Katakana",
							abbr: "Kata"
						}
					},
					list: [],
					finished: [],
					history: [],
					total: 0,
					current: null,
					fragment: {},
					attempts: 0,
					iswrong: false,
					answer: "",
					drawmode: localStorage.getItem("drawmode") === "true",
					allowhiragana: localStorage.getItem("allowhiragana") !== "false",
					allowkatakana: localStorage.getItem("allowkatakana") !== "false",
					allowseion: localStorage.getItem("allowseion") !== "false",
					allowdakuon: localStorage.getItem("allowdakuon") !== "false",
					allowyoon: localStorage.getItem("allowyoon") !== "false",
					threshold: parseFloat(localStorage.getItem("threshold") || 0),
					thresholdin: localStorage.getItem("threshold") || "0",
					drawpoints: {},
					mousedown: false,
					isrevealed: false,
					popper: null,
					error: "",
					viewhistory: false
				},
				mounted: function() {
					var store = localStorage.getItem("history");
					if (store) {
						try {
							var data = JSON.parse(store);
							if (data instanceof Array) {
								this.history = data;
							}
						} catch {
							localStorage.removeItem("history");
						}
					}
				},
				computed: {
					fragmentwidth: function() {
						if (this.total)
							return (100 / this.total) + "%";
						return "0px";
					},
					progress: function() {
						if (this.total && this.finished.length)
							return (this.finished.length / this.total * 100).toFixed(2);
						return 0;
					},
					worklist: function() {
						return this.finished.filter(function(item) {
							return item.attempts;
						});
					}
				},
				watch: {
					current: function() {
						if (!this.drawmode)
							return;
							
						Vue.nextTick().then(function() {
							//auto-fit the text into the svg area
							var elem = $("svg > text", this.$el)[0];
							if (elem) {
								elem.removeAttribute("transform");
								var bb = elem.getBBox();
								var widthTransform = 256 / bb.width;
								var heightTransform = 256 / bb.height;
								var scale = widthTransform < heightTransform ? widthTransform : heightTransform;
								var c = (1-scale)*128;
								elem.setAttribute("transform", "matrix("+scale+", 0, 0, "+scale+", "+c+","+c+")");
							}
						});
					},
					history: function() {
						localStorage.setItem("history", JSON.stringify(this.history));
					},
					drawmode: function() {
						localStorage.setItem("drawmode", this.drawmode);
					},
					allowhiragana: function() {
						localStorage.setItem("allowhiragana", this.allowhiragana);
					},
					allowkatakana: function() {
						localStorage.setItem("allowkatakana", this.allowkatakana);
					},
					allowseion: function() {
						localStorage.setItem("allowseion", this.allowseion);
					},
					allowdakuon: function() {
						localStorage.setItem("allowdakuon", this.allowdakuon);
					},
					allowyoon: function() {
						localStorage.setItem("allowyoon", this.allowyoon);
					},
					thresholdin: function() {
						var value = parseFloat(this.thresholdin);
						if (!isNaN(value)) {
							this.threshold = value;
						}
					},
					threshold: function() {
						localStorage.setItem("threshold", this.threshold);
					}
				},
				methods: {
					pick: function() {
						this.attempt = 0;
						this.isrevealed = false;

						if (!this.list.length) {
							this.reset();
							
							//too many filters applied
							if (!this.list.length) {
								this.error = "No items to test. Try removing filters";
								return;
							}
						}
						this.error = "";
						this.current = this.list[Math.floor(Math.random()*this.list.length)];
						if ("undefined" === typeof this.current.successes)
							Vue.set(this.current, "successes", 0);
						if ("undefined" === typeof this.current.attempts)
							Vue.set(this.current, "attempts", 0);

						//ensure canvas is present
						Vue.nextTick().then(function() {
							this.erase();
						}.bind(this));
					},
					reset: function() {
						//clone the database
						var clone = JSON.parse(JSON.stringify(this.master)),
							find = function(needle) {
								var len = this.history.length;
								for (var i = 0; i < len; i++) {
									var item = this.history[i];
									if (this.drawmode && item.a === needle.q && item.q === needle.a) {
										return item;
									} else if (!this.drawmode && item.q === needle.q && item.a === needle.a) {
										return item;
									}
								}
								return null;
							}.bind(this);
						
						//Apply filters
						this.list = clone.filter(function(item) {
							if (item.t === "h" && !this.allowhiragana)
								return false;
							if (item.t === "k" && !this.allowkatakana)
								return false;
							if (item.s && !this.allowseion)
								return false;
							if (item.d && !this.allowdakuon)
								return false;
							if (item.y && !this.allowyoon)
								return false;
							if (this.threshold > 0) {
								var hist = find(item);
								if (!hist)
									return false;
								if (!hist.attempts)
									return false;
									
								var score = hist.successes / hist.attempts;
								if (score < this.threshold)
									return false;
							}
							return true;
						}.bind(this));

						//reverse question <-> answer if in draw mode
						if (this.drawmode) {
							for (var i = 0; i < this.list.length; i++) {
								var item = this.list[i],
									temp = item.a;
								item.a = item.q;
								item.q = temp;
								item.flip = true;
							}
						}
						this.total = this.list.length;
						this.finished.splice(0);
					},
					mainmenu: function() {
						this.list.splice(0);
						this.finished.splice(0);
						this.total = 0;
						this.current = null;
					},
					reveal: function() {
						this.isrevealed = !this.isrevealed;
					},
					erase: function() {
						if (!this.drawmode)
							return;
							
						var elem = $("canvas", this.$el)[0];
						if (elem) {
							var ctx = elem.getContext("2d");
							
							ctx.clearRect(0, 0, elem.width, elem.height);
							ctx.setLineDash([5, 3]);
							
							ctx.beginPath();
							ctx.moveTo(0, 128);
							ctx.lineTo(256, 128);
							ctx.lineWidth = 1;
							ctx.strokeStyle = "#ccc";
							ctx.stroke();

							ctx.beginPath();
							ctx.moveTo(128, 0);
							ctx.lineTo(128, 256);
							ctx.lineWidth = 1;
							ctx.strokeStyle = "#ccc";
							ctx.stroke();
							ctx.setLineDash([]);
							
						}
					},
					track: function() {
						if (!this.current)
							return;
						
						var fidx = -1;
							len = this.history.length;
						for (var i = 0; i < len; i++) {
							if (this.history[i].q === this.current.q && this.history[i].a === this.current.a) {
								fidx = i;
								break;
							}
						}
						
						if (fidx === -1) {
							this.history.push(this.current);
						} else {
							this.history[fidx].attempts += this.current.attempts;
							this.history[fidx].successes += this.current.successes;
						}
					},
					check: function(e) {
						e.preventDefault && e.preventDefault();
						
						//restart list if empty
						if (!this.list.length)
							return this.pick();
							
						var answer = this.answer.toLowerCase();
							
						//dont penalize for blank entry
						if (!answer)
							return;
							
						this.iswrong = false;
						if (answer === this.current.a) {
							//if this is the first time this node was completed, add to the finish pile for display
							var fidx = this.finished.indexOf(this.current);
							if (fidx === -1)
								this.finished.push(this.current);
								
							//remove the item only if there were no misses for this viewing
							if (this.attempt === 0) {
								this.current.successes++;
								this.track();
								var idx = this.list.indexOf(this.current);
								if (idx !== -1)
									this.list.splice(idx, 1);
							}
							
							this.answer = "";
							$("[name=answer]", this.$el).focus();
							
							if (this.list.length) {
								this.pick();
							} else {
								this.current = {q: ":)", a:":)", finished: true};
							}
						} else {
							this.current.attempts++;
							this.iswrong = true;
							if (++this.attempt > 2) {
								this.answer = this.current.a;
							}
						}
					},				
					drawcorrect: function() {
						//add to the finish pile for display
						var fidx = this.finished.indexOf(this.current);
						if (fidx === -1)
							this.finished.push(this.current);
							
						//remove the item from future questions
						this.current.successes++;
						this.track();
						var idx = this.list.indexOf(this.current);
						if (idx !== -1)
							this.list.splice(idx, 1);
											
						if (this.list.length) {
							this.pick();
						} else {
							this.current = {q: ":)", a:":)", finished: true};
						}
					},
					drawincorrect: function() {
						this.current.attempts++;
						this.pick();
					},
					togglehistory: function() {
						this.viewhistory = !this.viewhistory;
					},
					clearhistory: function() {
						this.history.splice(0);
					},
					
					//Drawing Handlers
					touchstart: function(e) {
						e.preventDefault();
						var touches = e.touches || e.changedTouches;
						for (var i = 0; i < touches.length; i++) {
							var touch = touches[i];
							this.drawstart(touch.identifier, touch.pageX, touch.pageY);
						}
					},
					mousestart: function(e) {
						if (e.button === 0) {
							this.mousedown = true;
							this.drawstart("m", e.pageX, e.pageY);
						}
					},
					drawstart: function(id, x, y) {
						var el = $("canvas", this.$el)[0],
							ctx = el.getContext("2d"),
							rect = el.getBoundingClientRect();
							
						x -= rect.left;
						y -= rect.top;
							
						this.drawpoints[id] = { x: x, y: y };
						
						ctx.beginPath();
						ctx.arc(x, y, 4, 0, 2 * Math.PI, false);
						ctx.fillStyle = "#000";
						ctx.fill();
					},
					touchmove: function(e) {
						e.preventDefault();
						var touches = e.touches || e.changedTouches;
						for (var i = 0; i < touches.length; i++) {
							var touch = touches[i];
							this.drawmove(touch.identifier, touch.pageX, touch.pageY);
						}
					},
					mousemove: function(e) {
						this.mousedown && this.drawmove("m", e.pageX, e.pageY);
					},
					drawmove: function(id, x, y) {
						var el = $("canvas", this.$el)[0],
							ctx = el.getContext("2d"),
							rect = el.getBoundingClientRect(),
							prev = this.drawpoints[id];
					
						if (prev) {
							x -= rect.left;
							y -= rect.top;
							
							ctx.beginPath();
							ctx.moveTo(prev.x, prev.y);
							ctx.lineTo(x, y);
							ctx.lineWidth = 4;
							ctx.strokeStyle = "#000";
							ctx.stroke();
							
							prev.x = x;
							prev.y = y;
						}
					},
					touchend: function(e) {
						e.preventDefault();
						var touches = e.touches || e.changedTouches;
						for (var i = 0; i < touches.length; i++) {
							var touch = touches[i];
							this.drawend(touch.identifier, touch.pageX, touch.pageY);
						}
					},
					mouseend: function(e) {
						if (this.mousedown) {
							this.mousedown = false;
							this.drawend("m", e.pageX, e.pageY);
						}
					},
					drawend: function(id, x, y) {
						var el = $("canvas", this.$el)[0],
							ctx = el.getContext("2d"),
							rect = el.getBoundingClientRect(),
							prev = this.drawpoints[id];
					
						if (prev) {
							x -= rect.left;
							y -= rect.top;
							
							ctx.lineWidth = 4;
							ctx.fillStyle = "#000";
							ctx.beginPath();
							ctx.moveTo(prev.x, prev.y);
							ctx.lineTo(x, y);
							ctx.fillRect(x - 4, y - 4, 8, 8);
						}
					},
					touchcancel: function(e) {
						e.preventDefault();
						this.drawpoints = {};
					},
					
					//Toop tip handlers
					tipshow: function(el) {
						if (!el || el.className.indexOf("fragment") === -1)
							return;
						
						if (!this.popper) {
							this.popper = new Popper(el, $("div.popper", this.$el), {
								placement: 'top',
								modifiers: {arrow:{element:'.popper__arrow'}}
							});
						} else if (el === this.popper.reference) {
							return;
						}
						
						var idx = $(el).data("idx");
						this.fragment = this.finished[idx];

						$(this.popper.popper).addClass("show");
						this.popper.reference = el;
						this.popper.update();
					},
					tipstart: function(e) {
						e.preventDefault();
						var touch = e.touches[0] || e.changedTouches[0],
							el = document.elementFromPoint(touch.pageX, touch.pageY);
						this.tipshow(el);
					},
					tipmove: function(e) {
						e.preventDefault();
						var touch = e.touches[0] || e.changedTouches[0],
							el = document.elementFromPoint(touch.pageX, touch.pageY);
						this.tipshow(el);
					},
					tipend: function(e) {
						e.preventDefault();
						if (this.popper) {
							this.popper.reference = null;
							$(this.popper.popper).removeClass("show");
						}
					}
				}
			});
		});
	</script>
	<style>
		.glyph {font-size: 10em;}
		.wrong {border-color: #f00 !important;}
		.progressbar {
			border-bottom: solid 2px #ccc;
		}
		.progressbar .fragment {
			height: 20px;
		}
		.progressbar .perfect {
			background-color: #b9eab9;
		}
		.progressbar .pickup {
			background-color: #fcff56;
		}
		.progressbar .missed {
			background-color: #ff8e8e;
		}
		.popper {
			position: absolute;
			background: #FFC107;
			color: black;
			width: 120px;
			border-radius: 3px;
			box-shadow: 0 0 2px rgba(0,0,0,0.5);
			padding: 10px;
			text-align: center;
			display: none;
			z-index: 4;
		}
		.popper.show {
			display: block;
		}
		.popper .popper__arrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			margin: 5px;
		}
		.popper .popper__arrow {
			border-color: #FFC107;
		}
		.popper[x-placement^="top"] {
			margin-bottom: 5px;
		}
		.popper[x-placement^="top"] .popper__arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.popper[x-placement^="bottom"] {
			margin-top: 5px;
		}
		.popper[x-placement^="bottom"] .popper__arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: transparent;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.popper[x-placement^="right"] {
			margin-left: 5px;
		}
		.popper[x-placement^="right"] .popper__arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent;
			border-top-color: transparent;
			border-bottom-color: transparent;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
		.popper[x-placement^="left"] {
			margin-right: 5px;
		}
		.popper[x-placement^="left"] .popper__arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
		.drawarea {
			display: flex;
			margin: auto;
			justify-content: center;
		}
		canvas {
			border: solid 1px #000;
			width: 256px;
			height: 256px;
			position: absolute;
			background: #fff;
			
		}
		.drawarea.reveal canvas {
			background: rgba(255, 255, 255, .5);
		}
		svg {
			height: 256px;
			width: 256px;
		}
		text {
			font-size:128px;
			text-align:center;
			text-anchor: middle;
			dominant-baseline:central;
			alignment-baseline:central;
			fill:#000;
		}
		.onoffswitch {
			position: relative; width: 40px;
			-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		}
		.onoffswitch-checkbox {
			display: none;
		}
		.onoffswitch-label {
			display: block; overflow: hidden; cursor: pointer;
			height: 20px; padding: 0; margin: 0; line-height: 20px;
			border: 2px solid #E3E3E3; border-radius: 20px;
			background-color: #FFFFFF;
			transition: background-color 0.3s ease-in;
		}
		.onoffswitch-label:before {
			content: "";
			display: block; width: 20px; margin: 0px;
			background: #FFFFFF;
			position: absolute; top: 0; bottom: 0;
			right: 18px;
			border: 2px solid #E3E3E3; border-radius: 20px;
			transition: all 0.3s ease-in 0s; 
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label {
			background-color: #4693EB;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
			border-color: #4693EB;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label:before {
			right: 0px;
		}
		input.error,
		input.error:focus {
			border-color: #f00;
			background: #f7b2b2;
		}
	</style>
	<script id="main" type="text/x-vue-template">
		<div>
			<div v-if="viewhistory">
				<div v-if="history.length">
					<h3 class="m-2"><span v-if="drawmode">Draw</span><span v-else>Write</span> History:</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Test</th>
								<th>Y</th>
								<th>N</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in history" v-if="drawmode === !!item.flip && item.attempts !== 0">
								<td>{{item.q}}&#x2192;{{item.a}}</td>
								<td>{{item.successes}}</td>
								<td>{{item.attempts}}</td>
								<td>{{(item.successes / item.attempts).toFixed(2)}}</td>
							</tr>
						</tbody>
					</table>
					<p class="text-center">Only items with scores above zero are displayed.</p>
				</div>
				<div class="row">
					<div class="col text-center p-3">
						<button type="button" class="btn btn-primary" v-on:click="clearhistory">
							Clear History
						</button>
						<button type="button" class="btn btn-secondary" v-on:click="togglehistory">
							Close
						</button>
					</div>
				</div>
			</div>
			<div v-else-if="!current">
				<h1 class="text-center mb-4">JTester</h1>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbdm">Test Mode</label>
					<div class="col-5">
						<div class="onoffswitch d-inline-block align-middle">
							<input v-model="drawmode" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbdm">
							<label class="onoffswitch-label" for="cbdm"></label>
						</div>
						<span class="align-middle ml-2" v-if="drawmode">Draw</span>
						<span class="align-middle ml-2" v-else>Write</span>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2 mt-4">
					<h3 class="col mb-0 text-center" for="cbts">Question Types</h3>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbth">Hiragana あ</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allowhiragana" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbth">
							<label class="onoffswitch-label" for="cbth"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbtk">Katakana ア</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allowkatakana" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbtk">
							<label class="onoffswitch-label" for="cbtk"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2 mt-4">
					<h3 class="col mb-0 text-center" for="cbts">Kana Filters</h3>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">Basic Kana</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allowseion" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbts">
							<label class="onoffswitch-label" for="cbts"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbtd">Dakuon</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allowdakuon" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbtd">
							<label class="onoffswitch-label" for="cbtd"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbty">Yoon</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allowyoon" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbty">
							<label class="onoffswitch-label" for="cbty"></label>
						</div>
					</div>
				</div>
				<div v-if="history.length" class="row align-items-center justify-content-center my-2 mt-4">
					<h3 class="col mb-0 text-center" for="cbts">History</h3>
				</div>
				<div v-if="history.length" class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">Score Threshold</label>
					<div class="col-5">
						<input v-model="thresholdin" type="text" class="form-control w-50" :class="{error: isNaN(parseFloat(thresholdin))}" />
					</div>
				</div>
				<div class="row">
					<div class="col text-center p-3">
						<button type="button" class="btn btn-primary" v-on:click="pick">
							Start
						</button>
						<button v-if="history.length" type="button" class="btn btn-secondary" v-on:click="togglehistory">
							View History
						</button>
					</div>
				</div>
				<div v-if="error" class="row">
					<div class="col text-center p-3 h5">
						{{error}}
					</div>
				</div>
			</div>
			<div v-else-if="drawmode">
				<div class="drawarea text-center m-3" :class="{reveal: isrevealed}">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" :class="{yoon: current.y}">
						<text x="128" y="128">{{current.a}}</text>
					</svg>
					<canvas height="256" width="256" v-if="!current.finished"
						v-on:touchstart="touchstart"
						v-on:touchmove="touchmove"
						v-on:touchcancel="touchcancel"
						v-on:touchend="touchend"
						v-on:mousedown="mousestart"
						v-on:mousemove="mousemove"
						v-on:mouseup="mouseend">
					</canvas>
				</div>
				<div v-if="current.finished" class="text-center py-1 px-2">
					<button class="btn btn-primary" type="button" v-on:click="mainmenu">Main Menu</button> 
					<button class="btn btn-primary" type="button" v-on:click="pick">Start Again</button> 
				</div>
				<div v-else class="row">
					<div class="col col-9 mx-auto py-1 px-2 text-center h3"><span v-if="!current.finished">Draw: </span>{{current.q}} <span class="ml-2" v-if="current.t">({{this.types[current.t].abbr}})</span></div>
				</div>
				<div v-if="!current.finished" class="text-center py-1">
					<button class="btn btn-secondary mx-1" type="button" v-on:click="reveal">
						<span v-if="isrevealed">Hide</span>
						<span v-else>Reveal</span>
					</button>
					<button class="btn btn-secondary mx-1" type="button" v-on:click="erase">Erase</button>
					<button class="btn btn-primary mx-1" type="button" v-on:click="drawcorrect">Correct</button>
					<button class="btn btn-danger mx-1" type="button" v-on:click="drawincorrect">Wrong</button>
				</div>
			</div>
			<div v-else>
				<h1 class="glyph p-0 text-center">{{current.q}}</h1>
				<div class="row">
					<div class="col col-9 mx-auto py-1 px-2">
						<form v-on:submit="check">
							<div v-if="current.finished" class="text-center">
								<button class="btn btn-primary" type="button" v-on:click="mainmenu">Main Menu</button> 
								<button class="btn btn-primary" type="submit">Start Again</button> 
							</div>
							<div v-else class="input-group">
								<input type="text" name="answer" class="form-control" :class="{'wrong': iswrong}" autocorrect="off" v-model.trim="answer" />
								<div class="input-group-append">
									<button class="btn btn-primary" :class="{'btn-danger': iswrong}" type="submit">Go</button> 
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>		
			<div v-if="this.total" class="row">
				<div class="col col-9 mx-auto py-1 px-2 d-flex align-items-center">
					<div class="d-flex flex-grow-1 pb-1 progressbar" v-on:touchstart="tipstart" v-on:touchmove="tipmove" v-on:touchend="tipend" v-on:touchcancel="tipend">
						<span v-for="(item, index) in finished" :data-idx="index" :style="{width: fragmentwidth}" class="fragment" :class="{perfect: !item.attempts, pickup: item.attempts > 0 && item.attempts < 3, missed: item.attempts > 2}" :title="item.q+' Correct: '+item.successes+' / Incorrect: '+item.attempts"></span>
					</div>
					<label class="m-0 pl-2 small">{{progress}}%</label>
				</div>
			</div>
			<div v-if="current && current.finished && worklist.length" class="row">
				<div class="col col-9 mx-auto">
					<h3 class="my-2">Needs Work:</h3>
					<p v-for="item in worklist">{{item.q}}&#x2192;{{item.a}} - {{item.successes}} / {{item.attempts}}</p>
				</div>
			</div>
			<div class="popper" role="tooltip">
				{{fragment.q}}&#x2192;{{fragment.a}} - {{fragment.successes}} / {{fragment.attempts}}
				<div class="popper__arrow"></div>
			</div>
		</div>
	</script>
</head>
<body>
	<div id="app"></div>
</body>
</html>