<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<script>
		//ka: kana; kj: kanji; t: translation (pipe delimited answers)
		//l: level number (e.g. n1-n5)
		var database = [
			{ka:"ああ",t:"ah!|oh!",l:5},
			{ka:"あう",kj:"会う",t:"to meet|to see",l:5},
			{ka:"あお",kj:"青",t:"blue",l:5},
			{ka:"あおい",kj:"青い",t:"blue",l:5},
			{ka:"あか",kj:"赤",t:"red",l:5},
			{ka:"あかい",kj:"赤い",t:"red",l:5},
			{ka:"あかるい",kj:"明るい",t:"bright|cheerful",l:5},
			{ka:"あき",kj:"秋",t:"autumn|fall",l:5},
			{ka:"あく",kj:"開く",t:"to open|to become open",l:5},
			{ka:"あける",kj:"開ける",t:"to open",l:5},
			{ka:"あげる",kj:"上げる",t:"to give",l:5},
			{ka:"あさ",kj:"朝",t:"morning",l:5},
			{ka:"あさごはん",kj:"朝御飯",t:"breakfast",l:5},
			{ka:"あさって",t:"day after tomorrow",l:5},
			{ka:"あし",kj:"足",t:"foot|leg",l:5},
			{ka:"あした",t:"tomorrow",l:5},
			{ka:"あそこ",t:"there|over there|that place",l:5},
			{ka:"あそぶ",kj:"遊ぶ",t:"to play|to enjoy oneself",l:5},
			{ka:"あたたかい",kj:"暖かい",t:"warm|mild",l:5},
			{ka:"あたま",kj:"頭",t:"head",l:5},
			{ka:"あたらしい",kj:"新しい",t:"new",l:5},
			{ka:"あちら",t:"there|yonder|that",l:5},
			{ka:"あつい",kj:"暑い",t:"hot|warm",l:5},
			{ka:"あつい",kj:"熱い",t:"hot (thing)|hot",l:5},
			{ka:"あつい",kj:"厚い",t:"kind|thick|deep",l:5},
			{ka:"あっち",t:"over there",l:5},
			{ka:"あと",kj:"後",t:"afterwards|since then|in the future",l:5},
			{ka:"あなた",t:"you",l:5},
			{ka:"あに",kj:"兄",t:"older brother",l:5},
			{ka:"あね",kj:"姉",t:"older sister",l:5},
			{ka:"あの",t:"that over there",l:5},
			{ka:"あの",t:"um...",l:5},
			{ka:"アパート",t:"apartment (abbr)|apartment",l:5},
			{ka:"あびる",t:"to bathe|to shower",l:5},
			{ka:"あぶない",kj:"危ない",t:"dangerous|critical|watch out!",l:5},
			{ka:"あまい",kj:"甘い",t:"generous|sweet",l:5},
			{ka:"あまり",t:"not very|not much",l:5},
			{ka:"あめ",kj:"雨",t:"rain",l:5},
			{ka:"あめ",kj:"飴",t:"(hard) candy|candy|toffee",l:5},
			{ka:"あらう",kj:"洗う",t:"to wash",l:5},
			{ka:"ある [存在]|ある",t:"to be",l:5},
			{ka:"ある [所有]|ある",t:"to have",l:5},
			{ka:"あるく",kj:"歩く",t:"to walk",l:5},
			{ka:"あれ",t:"that|that thing",l:5},
			{ka:"いい|よい",t:"good",l:5},
			{ka:"いいえ",t:"no|not at all",l:5},
			{ka:"いう",kj:"言う",t:"to say",l:5},
			{ka:"いえ",kj:"家",t:"house|family",l:5},
			{ka:"いかが",t:"how|in what way",l:5},
			{ka:"いく|ゆく",kj:"行く",t:"to go",l:5},
			{ka:"いくつ",t:"how many|how old",l:5},
			{ka:"いくら",t:"how much|how many",l:5},
			{ka:"いけ",kj:"池",t:"pond",l:5},
			{ka:"いしゃ",kj:"医者",t:"doctor (medical)|doctor",l:5},
			{ka:"いす",t:"chair",l:5},
			{ka:"いそがしい",kj:"忙しい",t:"busy|irritated",l:5},
			{ka:"いたい",kj:"痛い",t:"painful",l:5},
			{ka:"いち",kj:"一",t:"one",l:5},
			{ka:"いちにち",kj:"一日",t:"1 day (duration)|1 day",l:5},
			{ka:"いちばん",t:"best|first|number one",l:5},
			{ka:"いつ",t:"when",l:5},
			{ka:"いつか",kj:"五日",t:"five days|the fifth day of the month",l:5},
			{ka:"いっしょ",kj:"一緒",t:"together",l:5},
			{ka:"いつつ",kj:"五つ",t:"five",l:5},
			{ka:"いつも",t:"always|every time",l:5},
			{ka:"いぬ",kj:"犬",t:"dog",l:5},
			{ka:"いま",kj:"今",t:"now",l:5},
			{ka:"いみ",kj:"意味",t:"meaning",l:5},
			{ka:"いもうと",kj:"妹",t:"younger sister",l:5},
			{ka:"いや",kj:"嫌",t:"disagreeable|no",l:5},
			{ka:"いりぐち",kj:"入口",t:"entrance|gate",l:5},
			{ka:"いる",kj:"居る",t:"to be (animate)|to be|to exist",l:5},
			{ka:"いる",kj:"要る",t:"to need",l:5},
			{ka:"いれる",kj:"入れる",t:"to put in",l:5},
			{ka:"いろ",kj:"色",t:"colour",l:5},
			{ka:"いろいろ",t:"various",l:5},
			{ka:"うえ",kj:"上",t:"above|on top of",l:5},
			{ka:"うしろ",kj:"後ろ",t:"behind|rear",l:5},
			{ka:"うすい",kj:"薄い",t:"thin|weak",l:5},
			{ka:"うた",kj:"歌",t:"song",l:5},
			{ka:"うたう",kj:"歌う",t:"to sing",l:5},
			{ka:"うち",t:"house (one's own)|house",l:5},
			{ka:"うまれる",kj:"生まれる",t:"to be born",l:5},
			{ka:"うみ",kj:"海",t:"sea|beach",l:5},
			{ka:"うる",kj:"売る",t:"to sell",l:5},
			{ka:"うるさい",t:"noisy|loud|annoying",l:5},
			{ka:"うわぎ",kj:"上着",t:"coat|jacket",l:5},
			{ka:"え",kj:"絵",t:"picture|drawing|painting|sketch",l:5},
			{ka:"えいが",kj:"映画",t:"movie|film",l:5},
			{ka:"えいがかん",kj:"映画館",t:"movie theatre|cinema",l:5},
			{ka:"えいご",kj:"英語",t:"the english language",l:5},
			{ka:"ええ",t:"yes",l:5},
			{ka:"えき",kj:"駅",t:"station",l:5},
			{ka:"エレベーター",t:"elevator",l:5},
			{ka:"～えん",kj:"～円",t:"yen (currency)|yen",l:5},
			{ka:"えんぴつ",kj:"鉛筆",t:"pencil",l:5},
			{ka:"おいしい",t:"delicious|tasty",l:5},
			{ka:"おおい",kj:"多い",t:"many",l:5},
			{ka:"おおきい",kj:"大きい",t:"big",l:5},
			{ka:"おおきな",kj:"大きな",t:"big",l:5},
			{ka:"おおぜい",kj:"大勢",t:"great number of people",l:5},
			{ka:"おかあさん",kj:"お母さん",t:"(hon) mother|mother|mom",l:5},
			{ka:"おかし",kj:"お菓子",t:"confections|sweets|candy",l:5},
			{ka:"おかね",kj:"お金",t:"money",l:5},
			{ka:"おきる",kj:"起きる",t:"to get up|to rise",l:5},
			{ka:"おく",kj:"置く",t:"to put|to place",l:5},
			{ka:"おくさん",kj:"奥さん",t:"(hon) wife|wife",l:5},
			{ka:"おさけ",kj:"お酒",t:"alcohol|sake",l:5},
			{ka:"おさら",kj:"お皿",t:"plate|dish",l:5},
			{ka:"おじ|おじさん",kj:"伯父|叔父さん",t:"uncle|middle aged man",l:5},
			{ka:"おじいさん",t:"grandfather|male senior citizen",l:5},
			{ka:"おしえる",kj:"教える",t:"to teach|to inform",l:5},
			{ka:"おす",kj:"押す",t:"to push|to press",l:5},
			{ka:"おそい",kj:"遅い",t:"late|slow",l:5},
			{ka:"おちゃ",kj:"お茶",t:"green tea|tea",l:5},
			{ka:"おてあらい",kj:"お手洗い",t:"toilet|lavatory|bathroom",l:5},
			{ka:"おとうさん",kj:"お父さん",t:"(hon) father|father|dad",l:5},
			{ka:"おとうと",kj:"弟",t:"younger brother",l:5},
			{ka:"おとこ",kj:"男",t:"man",l:5},
			{ka:"おとこのこ",kj:"男の子",t:"boy",l:5},
			{ka:"おととい",t:"day before yesterday",l:5},
			{ka:"おととし",t:"year before last",l:5},
			{ka:"おとな",kj:"大人",t:"adult",l:5},
			{ka:"おなか",t:"stomach",l:5},
			{ka:"おなじ",kj:"同じ",t:"same|identical|similar",l:5},
			{ka:"おにいさん",kj:"お兄さん",t:"(hon) older brother|older brother",l:5},
			{ka:"おねえさん",kj:"お姉さん",t:"(hon) older sister|older sister",l:5},
			{ka:"おばさん",kj:"伯母さん|叔母さん",t:"aunt",l:5},
			{ka:"おばあさん",t:"grandmother|female senior citizen",l:5},
			{ka:"おふろ",kj:"お風呂",t:"bath",l:5},
			{ka:"おべんとう",kj:"お弁当",t:"boxed lunch",l:5},
			{ka:"おぼえる",kj:"覚える",t:"to remember|to memorize",l:5},
			{ka:"おまわりさん",t:"policeman (friendly term)|policeman|cop",l:5},
			{ka:"おもい",kj:"重い",t:"heavy",l:5},
			{ka:"おもしろい",t:"interesting|amusing",l:5},
			{ka:"およぐ",kj:"泳ぐ",t:"to swim",l:5},
			{ka:"おりる",kj:"降りる",t:"to alight (eg from bus)|alight|to get off",l:5},
			{ka:"おわる",kj:"終る",t:"to finish|to close",l:5},
			{ka:"おんがく",kj:"音楽",t:"music",l:5},
			{ka:"おんな",kj:"女",t:"woman|girl|daughter",l:5},
			{ka:"おんなのこ",kj:"女の子",t:"girl",l:5},
			{ka:"～かい",kj:"～回",t:"counter for occurrences",l:5},
			{ka:"～かい",kj:"～階",t:"counter for storeys of a building",l:5},
			{ka:"がいこく",kj:"外国",t:"foreign country",l:5},
			{ka:"がいこくじん",kj:"外国人",t:"foreigner",l:5},
			{ka:"かいしゃ",kj:"会社",t:"company|corporation",l:5},
			{ka:"かいだん",kj:"階段",t:"stairs",l:5},
			{ka:"かいもの",kj:"買い物",t:"shopping",l:5},
			{ka:"かう",kj:"買う",t:"to buy",l:5},
			{ka:"かえす",kj:"返す",t:"to return something",l:5},
			{ka:"かえる",kj:"帰る",t:"to go home|to return",l:5},
			{ka:"かお",kj:"顔",t:"face (person)|face",l:5},
			{ka:"かかる",t:"to take (eg time/money)|to take",l:5},
			{ka:"かぎ",t:"key|keys",l:5},
			{ka:"かく",kj:"書く",t:"to write",l:5},
			{ka:"がくせい",kj:"学生",t:"student",l:5},
			{ka:"～かげつ",kj:"～か月",t:"(number of) months|months",l:5},
			{ka:"かける",t:"to put on (eg glasses)|to put on",l:5},
			{ka:"かける",t:"to dial/call (eg phone)|to call",l:5},
			{ka:"かさ",kj:"傘",t:"umbrella",l:5},
			{ka:"かす",kj:"貸す",t:"to lend",l:5},
			{ka:"かぜ",kj:"風",t:"wind|breeze",l:5},
			{ka:"かぜ",kj:"風邪",t:"cold|illness",l:5},
			{ka:"かた",kj:"方",t:"person",l:5},
			{ka:"かぞく",kj:"家族",t:"family",l:5},
			{ka:"かたかな",kj:"片仮名",t:"katakana",l:5},
			{ka:"～がつ",kj:"～月",t:"month of year",l:5},
			{ka:"がっこう",kj:"学校",t:"school",l:5},
			{ka:"カップ",t:"cup",l:5},
			{ka:"かてい",kj:"家庭",t:"home|household",l:5},
			{ka:"かど",kj:"角",t:"corner (e.g. desk)|corner",l:5},
			{ka:"かばん",t:"bag|basket",l:5},
			{ka:"かびん",kj:"花瓶",t:"(flower) vase|vase",l:5},
			{ka:"かぶる",t:"to wear|to put on",l:5},
			{ka:"かみ",kj:"紙",t:"paper",l:5},
			{ka:"カメラ",t:"camera",l:5},
			{ka:"かようび",kj:"火曜日",t:"tuesday",l:5},
			{ka:"からい",kj:"辛い",t:"spicy|salty",l:5},
			{ka:"からだ",kj:"体",t:"body",l:5},
			{ka:"かりる",kj:"借りる",t:"to borrow|to have a loan",l:5},
			{ka:"～がる",t:"feel",l:5},
			{ka:"かるい",kj:"軽い",t:"light|non-serious|non serious|minor",l:5},
			{ka:"カレー",t:"curry",l:5},
			{ka:"カレンダー",t:"calendar",l:5},
			{ka:"かわ",kj:"川|河",t:"river",l:5},
			{ka:"～がわ",kj:"側",t:"～ side|side",l:5},
			{ka:"かわいい",t:"cute|charming",l:5},
			{ka:"かんじ",kj:"漢字",t:"kanji|chinese character",l:5},
			{ka:"き",kj:"木",t:"tree|wood",l:5},
			{ka:"きいろ",kj:"黄色",t:"yellow",l:5},
			{ka:"きいろい",kj:"黄色い",t:"yellow",l:5},
			{ka:"きえる",kj:"消える",t:"to go out|to vanish",l:5},
			{ka:"きく",kj:"聞く",t:"to hear|to listen|to ask",l:5},
			{ka:"きた",kj:"北",t:"north",l:5},
			{ka:"ギター",t:"guitar",l:5},
			{ka:"きたない",kj:"汚い",t:"dirty|messy",l:5},
			{ka:"きっさてん",kj:"喫茶店",t:"coffee lounge",l:5},
			{ka:"きって",kj:"切手",t:"stamp (eg. postage)|stamp",l:5},
			{ka:"きっぷ",kj:"切符",t:"ticket",l:5},
			{ka:"きのう",kj:"昨日",t:"yesterday",l:5},
			{ka:"きゅう",kj:"九",t:"nine",l:5},
			{ka:"ぎゅうにく",kj:"牛肉",t:"beef",l:5},
			{ka:"ぎゅうにゅう",kj:"牛乳",t:"milk",l:5},
			{ka:"きょう",kj:"今日",t:"today|this day",l:5},
			{ka:"きょうしつ",kj:"教室",t:"classroom",l:5},
			{ka:"きょうだい",kj:"兄弟",t:"siblings (brothers and sisters)|siblings",l:5},
			{ka:"きょねん",kj:"去年",t:"last year",l:5},
			{ka:"きらい",kj:"嫌い",t:"dislike|hate",l:5},
			{ka:"きる",kj:"切る",t:"to cut|to chop",l:5},
			{ka:"きる",kj:"着る",t:"to wear|to put on (from shoulders down)|to put on",l:5},
			{ka:"きれい",t:"pretty|clean|nice|tidy",l:5},
			{ka:"キロ",t:"kilo",l:5},
			{ka:"キログラム",t:"kilo|kilogram",l:5},
			{ka:"キロメートル",t:"kilo|kilometre",l:5},
			{ka:"ぎんこう",kj:"銀行",t:"bank",l:5},
			{ka:"きんようび",kj:"金曜日",t:"friday",l:5},
			{ka:"く",kj:"九",t:"nine",l:5},
			{ka:"くすり",kj:"薬",t:"medicine",l:5},
			{ka:"ください",t:"(with te-form verb) please do for me|please do for me|please",l:5},
			{ka:"くだもの",kj:"果物",t:"fruit",l:5},
			{ka:"くち",kj:"口",t:"mouth|orifice|opening",l:5},
			{ka:"くつ",kj:"靴",t:"shoes|footwear",l:5},
			{ka:"くつした",kj:"靴下",t:"socks",l:5},
			{ka:"くに",kj:"国",t:"country",l:5},
			{ka:"くもり",kj:"曇り",t:"cloudiness|cloudy weather",l:5},
			{ka:"くもる",kj:"曇る",t:"to become cloudy|to become dim",l:5},
			{ka:"くらい",kj:"暗い",t:"dark|gloomy",l:5},
			{ka:"～くらい|ぐらい",t:"approximate (quantity)|approximate",l:5},
			{ka:"クラス",t:"class",l:5},
			{ka:"グラム",t:"gram",l:5},
			{ka:"くる",kj:"来る",t:"to come",l:5},
			{ka:"くるま",kj:"車",t:"car|vehicle",l:5},
			{ka:"くろ",kj:"黒",t:"black",l:5},
			{ka:"くろい",kj:"黒い",t:"black",l:5},
			{ka:"けいかん",kj:"警官",t:"policeman",l:5},
			{ka:"けさ",kj:"今朝",t:"this morning",l:5},
			{ka:"けす",kj:"消す",t:"to erase|to delete|to turn off power",l:5},
			{ka:"けっこう",kj:"結構",t:"nice|enough",l:5},
			{ka:"けっこん（する）",kj:"結婚",t:"marriage",l:5},
			{ka:"げつようび",kj:"月曜日",t:"monday",l:5},
			{ka:"げんかん",kj:"玄関",t:"entrance-way|entry hall",l:5},
			{ka:"げんき",kj:"元気",t:"health",l:5},
			{ka:"～こ",kj:"～個",t:"counter for small items|counter",l:5},
			{ka:"ご",kj:"五",t:"five|5",l:5},
			{ka:"～ご",kj:"～語",t:"word|language",l:5},
			{ka:"こうえん",kj:"公園",t:"(public) park|park",l:5},
			{ka:"こうさてん",kj:"交差点",t:"intersection",l:5},
			{ka:"こうちゃ",kj:"紅茶",t:"black tea",l:5},
			{ka:"こうばん",kj:"交番",t:"police box",l:5},
			{ka:"こえ",kj:"声",t:"voice",l:5},
			{ka:"コート",t:"coat",l:5},
			{ka:"コーヒー",t:"coffee",l:5},
			{ka:"ここ",t:"here|this place",l:5},
			{ka:"ごご",kj:"午後",t:"afternoon|p.m.|pm",l:5},
			{ka:"ここのか",kj:"九日",t:"nine days|the ninth day of the month",l:5},
			{ka:"ここのつ",kj:"九つ",t:"nine",l:5},
			{ka:"ごぜん",kj:"午前",t:"morning|a.m.|am",l:5},
			{ka:"こたえる",kj:"答える",t:"to answer|to reply",l:5},
			{ka:"こちら",t:"this eg person|way",l:5},
			{ka:"こっち",t:"this eg person|way",l:5},
			{ka:"コップ",t:"cup",l:5},
			{ka:"ことし",kj:"今年",t:"this year",l:5},
			{ka:"ことば",kj:"言葉",t:"word",l:5},
			{ka:"こども",kj:"子供",t:"child|children",l:5},
			{ka:"この",t:"this",l:5},
			{ka:"ごはん",kj:"御飯",t:"rice (cooked)|rice|meal",l:5},
			{ka:"コピー|コピーする",t:"to copy",l:5},
			{ka:"こまる",kj:"困る",t:"to be worried|to be bothered",l:5},
			{ka:"これ",t:"this",l:5},
			{ka:"～ころ|～ごろ",t:"about|approximately (time)|approximately",l:5},
			{ka:"こんげつ",kj:"今月",t:"this month",l:5},
			{ka:"こんしゅう",kj:"今週",t:"this week",l:5},
			{ka:"こんな",t:"such|like this",l:5},
			{ka:"こんばん",kj:"今晩",t:"tonight|this evening",l:5},
			{ka:"さあ",t:"come now|well",l:5},
			{ka:"～さい",kj:"～歳",t:"～years-old|years old",l:5},
			{ka:"さいふ",kj:"財布",t:"wallet",l:5},
			{ka:"さかな",kj:"魚",t:"fish",l:5},
			{ka:"さき",kj:"先",t:"the future|former|previous",l:5},
			{ka:"さく",kj:"咲く",t:"to bloom",l:5},
			{ka:"さくぶん",kj:"作文",t:"composition|writing",l:5},
			{ka:"さす",kj:"差す",t:"to raise (stretch out) hands|to raise",l:5},
			{ka:"～さつ",kj:"～冊",t:"counter for books",l:5},
			{ka:"ざっし",kj:"雑誌",t:"magazine",l:5},
			{ka:"さとう",kj:"砂糖",t:"sugar",l:5},
			{ka:"さむい",kj:"寒い",t:"cold (e.g. weather)|cold",l:5},
			{ka:"さらいねん",kj:"さ来年",t:"year after next",l:5},
			{ka:"さん",kj:"三",t:"three|3",l:5},
			{ka:"さんぽ（する）",kj:"散歩",t:"walk|stroll",l:5},
			{ka:"し",kj:"四",t:"four|4",l:5},
			{ka:"～じ",kj:"～時",t:"time (～ O'clock)|oclock|time",l:5},
			{ka:"しお",kj:"塩",t:"salt",l:5},
			{ka:"しかし",t:"however|but",l:5},
			{ka:"じかん",kj:"時間",t:"time",l:5},
			{ka:"～じかん",kj:"～時間",t:"～hours|hours",l:5},
			{ka:"しごと",kj:"仕事",t:"work|occupation|employment",l:5},
			{ka:"じしょ",kj:"辞書",t:"dictionary",l:5},
			{ka:"しずか",kj:"静か",t:"quiet|peaceful",l:5},
			{ka:"した",kj:"下",t:"under|below|beneath",l:5},
			{ka:"しち",kj:"七",t:"seven",l:5},
			{ka:"しつもん",kj:"質問",t:"question|inquiry",l:5},
			{ka:"じてんしゃ",kj:"自転車",t:"bicycle",l:5},
			{ka:"じどうしゃ",kj:"自動車",t:"automobile",l:5},
			{ka:"しぬ",kj:"死ぬ",t:"to die",l:5},
			{ka:"じびき",kj:"字引",t:"dictionary",l:5},
			{ka:"じぶん",kj:"自分",t:"myself|oneself",l:5},
			{ka:"しまる",kj:"閉まる",t:"to close|to be closed",l:5},
			{ka:"しめる",kj:"閉める",t:"to close|to shut",l:5},
			{ka:"しめる",kj:"締める",t:"to tie|to fasten",l:5},
			{ka:"じゃ|じゃあ",t:"well|well then",l:5},
			{ka:"しゃしん",kj:"写真",t:"photograph",l:5},
			{ka:"シャツ",t:"shirt|singlet",l:5},
			{ka:"シャワー",t:"shower",l:5},
			{ka:"じゅう",kj:"十",t:"ten",l:5},
			{ka:"～じゅう",kj:"～中",t:"during|while",l:5},
			{ka:"～しゅうかん",kj:"～週間",t:"～weeks|weeks",l:5},
			{ka:"じゅぎょう",kj:"授業",t:"lesson|class work",l:5},
			{ka:"しゅくだい",kj:"宿題",t:"homework",l:5},
			{ka:"じょうず",kj:"上手",t:"skill|skillful|dexterity",l:5},
			{ka:"じょうぶ",kj:"丈夫",t:"strong|solid|durable",l:5},
			{ka:"しょうゆ",t:"soy sauce",l:5},
			{ka:"しょくどう",kj:"食堂",t:"cafeteria|dining hall",l:5},
			{ka:"しる",kj:"知る",t:"to know|to understand",l:5},
			{ka:"しろ",kj:"白",t:"white",l:5},
			{ka:"しろい",kj:"白い",t:"white",l:5},
			{ka:"～にん",kj:"～人",t:"counter for people",l:5},
			{ka:"しんぶん",kj:"新聞",t:"newspaper",l:5},
			{ka:"すいようび",kj:"水曜日",t:"wednesday",l:5},
			{ka:"すう",kj:"吸う",t:"to smoke|to breathe in|to suck",l:5},
			{ka:"スカート",t:"skirt",l:5},
			{ka:"すき",kj:"好き",t:"liking|fondness|love",l:5},
			{ka:"～すぎ",t:"to exceed|too much",l:5},
			{ka:"すくない",kj:"少ない",t:"a few|scarce",l:5},
			{ka:"すぐに",t:"immediately|instantly",l:5},
			{ka:"すこし",kj:"少し",t:"little|few",l:5},
			{ka:"すずしい",kj:"涼しい",t:"cool|refreshing",l:5},
			{ka:"～ずつ",t:"at a time|gradually",l:5},
			{ka:"ストーブ",t:"heater|stove",l:5},
			{ka:"スプーン",t:"spoon",l:5},
			{ka:"スポーツ",t:"sport",l:5},
			{ka:"ズボン",t:"trousers",l:5},
			{ka:"すむ",kj:"住む",t:"to reside|to live in",l:5},
			{ka:"スリッパ",t:"slippers",l:5},
			{ka:"する",t:"to do|to try",l:5},
			{ka:"すわる",kj:"座る",t:"to sit",l:5},
			{ka:"せい",kj:"背",t:"height|stature",l:5},
			{ka:"せいと",kj:"生徒",t:"pupil",l:5},
			{ka:"セーター",t:"sweater|jumper",l:5},
			{ka:"せっけん",kj:"石鹸",t:"soap",l:5},
			{ka:"せびろ",kj:"背広",t:"business suit",l:5},
			{ka:"せまい",kj:"狭い",t:"narrow|confined|small",l:5},
			{ka:"ゼロ",t:"zero",l:5},
			{ka:"せん",kj:"千",t:"thousand|many",l:5},
			{ka:"せんげつ",kj:"先月",t:"last month",l:5},
			{ka:"せんしゅう",kj:"先週",t:"last week|the week before",l:5},
			{ka:"せんせい",kj:"先生",t:"teacher|master|doctor",l:5},
			{ka:"せんたく",kj:"洗濯",t:"washing|laundry",l:5},
			{ka:"ぜんぶ",kj:"全部",t:"all|entire|whole",l:5},
			{ka:"そう|そうです",t:"appears|to be the case",l:5},
			{ka:"そうじ（する）",kj:"掃除",t:"cleaning|sweeping",l:5},
			{ka:"そうして|そして",t:"and|like that",l:5},
			{ka:"そこ",t:"that place|there",l:5},
			{ka:"そちら",t:"over there",l:5},
			{ka:"そっち",t:"over there",l:5},
			{ka:"そと",kj:"外",t:"outside|exterior",l:5},
			{ka:"その",t:"that",l:5},
			{ka:"そば",t:"near|close|beside",l:5},
			{ka:"そら",kj:"空",t:"sky",l:5},
			{ka:"それ",t:"it|that",l:5},
			{ka:"それから",t:"and then|after that",l:5},
			{ka:"それでは",t:"in that situation|well then...",l:5},
			{ka:"～だい",kj:"～台",t:"counter for vehicles/machines|counter",l:5},
			{ka:"だいがく",kj:"大学",t:"university",l:5},
			{ka:"たいしかん",kj:"大使館",t:"embassy",l:5},
			{ka:"だいじょうぶ",kj:"大丈夫",t:"safe|all right|o.k.|ok",l:5},
			{ka:"だいすき",kj:"大好き",t:"very likeable|like very much",l:5},
			{ka:"たいせつ",kj:"大切",t:"important",l:5},
			{ka:"だいどころ",kj:"台所",t:"kitchen",l:5},
			{ka:"たいへん",t:"very",l:5},
			{ka:"たいへん",t:"difficult situation|tough situation",l:5},
			{ka:"たかい",kj:"高い",t:"tall|high",l:5},
			{ka:"たかい",kj:"高い",t:"expensive",l:5},
			{ka:"～だけ",t:"only ～|just ～|only|just",l:5},
			{ka:"たくさん",t:"many|a lot|much",l:5},
			{ka:"タクシー",t:"taxi",l:5},
			{ka:"だす",kj:"出す",t:"to put out|to send",l:5},
			{ka:"～たち",t:"plural suffix",l:5},
			{ka:"たつ",kj:"立つ",t:"to stand",l:5},
			{ka:"たて",t:"length|height",l:5},
			{ka:"たてもの",kj:"建物",t:"building",l:5},
			{ka:"たのしい",kj:"楽しい",t:"enjoyable|fun",l:5},
			{ka:"たのむ",kj:"頼む",t:"to request|to ask",l:5},
			{ka:"たばこ",t:"tobacco|cigarettes",l:5},
			{ka:"たぶん",t:"perhaps|probably",l:5},
			{ka:"たべもの",kj:"食べ物",t:"food",l:5},
			{ka:"たべる",kj:"食べる",t:"to eat",l:5},
			{ka:"たまご",kj:"卵",t:"egg|eggs",l:5},
			{ka:"だれ",kj:"誰",t:"who",l:5},
			{ka:"だれか",kj:"誰か",t:"someone|somebody",l:5},
			{ka:"たんじょうび",kj:"誕生日",t:"birthday",l:5},
			{ka:"だんだん",t:"gradually|by degrees",l:5},
			{ka:"ちいさい",kj:"小さい",t:"small|little",l:5},
			{ka:"ちいさな",kj:"小さな",t:"small|little",l:5},
			{ka:"ちかい",kj:"近い",t:"near|close by|short",l:5},
			{ka:"ちがう",kj:"違う",t:"to differ (from)|to differ",l:5},
			{ka:"ちかく",kj:"近く",t:"near",l:5},
			{ka:"ちかてつ",kj:"地下鉄",t:"underground train|subway",l:5},
			{ka:"ちず",kj:"地図",t:"map",l:5},
			{ka:"ちち",kj:"父",t:"(one's own) father|father|dad",l:5},
			{ka:"ちゃいろ",kj:"茶色",t:"brown",l:5},
			{ka:"ちゃわん",t:"rice bowl",l:5},
			{ka:"～ちゅう",kj:"～中",t:"during|while ～ing|while",l:5},
			{ka:"ちょうど",t:"just|right|exactly",l:5},
			{ka:"ちょっと",t:"a little|somewhat",l:5},
			{ka:"ついたち",kj:"一日",t:"for one day|first of month",l:5},
			{ka:"つかう",kj:"使う",t:"to use",l:5},
			{ka:"つかれる",kj:"疲れる",t:"to get tired|to tire",l:5},
			{ka:"つぎ",kj:"次",t:"next",l:5},
			{ka:"つく",kj:"着く",t:"to arrive at|to reach",l:5},
			{ka:"つくえ",kj:"机",t:"desk",l:5},
			{ka:"つくる",kj:"作る",t:"to make|to create",l:5},
			{ka:"つける",t:"to turn on (eg a light)|turn on",l:5},
			{ka:"つとめる",kj:"勤める",t:"to serve|to work",l:5},
			{ka:"つまらない",t:"insignificant|boring",l:5},
			{ka:"つめたい",kj:"冷たい",t:"cold (to the touch)|cold",l:5},
			{ka:"つよい",kj:"強い",t:"strong|powerful",l:5},
			{ka:"て",kj:"手",t:"hand",l:5},
			{ka:"テープ",t:"tape",l:5},
			{ka:"テープレコーダー",t:"tape recorder",l:5},
			{ka:"テーブル",t:"table",l:5},
			{ka:"でかける",kj:"出かける",t:"to depart|to go out",l:5},
			{ka:"てがみ",kj:"手紙",t:"letter",l:5},
			{ka:"できる",t:"to be able to",l:5},
			{ka:"でぐち",kj:"出口",t:"exit",l:5},
			{ka:"テスト",t:"test",l:5},
			{ka:"では",t:"with that…|with that",l:5},
			{ka:"デパート",t:"department store",l:5},
			{ka:"でも",t:"but|however",l:5},
			{ka:"でる",kj:"出る",t:"to appear|to leave",l:5},
			{ka:"テレビ",t:"television|tv",l:5},
			{ka:"てんき",kj:"天気",t:"weather",l:5},
			{ka:"でんき",kj:"電気",t:"electricity|light",l:5},
			{ka:"でんしゃ",kj:"電車",t:"electric train|train",l:5},
			{ka:"でんわ",kj:"電話",t:"telephone",l:5},
			{ka:"と",kj:"戸",t:"door (Japanese style)|door",l:5},
			{ka:"～ど",kj:"～度",t:"counter for occurrences",l:5},
			{ka:"ドア",t:"door (Western style)|door",l:5},
			{ka:"トイレ",t:"toilet",l:5},
			{ka:"どう",t:"how|in what way",l:5},
			{ka:"どうして",t:"why?|why|for what reason",l:5},
			{ka:"どうぞ",t:"please|kindly|by all means",l:5},
			{ka:"どうぶつ",kj:"動物",t:"animal",l:5},
			{ka:"どうも",t:"thanks|very",l:5},
			{ka:"とお",kj:"十",t:"ten",l:5},
			{ka:"とおい",kj:"遠い",t:"far|distant",l:5},
			{ka:"とおか",kj:"十日",t:"ten days|the tenth day of the month",l:5},
			{ka:"～とき",kj:"～時",t:"at the time of ～|at the time of",l:5},
			{ka:"ときどき",kj:"時々",t:"sometimes",l:5},
			{ka:"とけい",kj:"時計",t:"watch|clock",l:5},
			{ka:"どこ",t:"where|what place",l:5},
			{ka:"ところ",kj:"所",t:"place",l:5},
			{ka:"とし",kj:"年",t:"year|age",l:5},
			{ka:"としょかん",kj:"図書館",t:"library",l:5},
			{ka:"どちら",t:"which|which way",l:5},
			{ka:"どっち",t:"which one|which way",l:5},
			{ka:"とても",t:"very",l:5},
			{ka:"どなた",t:"who",l:5},
			{ka:"となり",kj:"隣",t:"next to|next door to",l:5},
			{ka:"どの",t:"which",l:5},
			{ka:"とぶ",kj:"飛ぶ",t:"to fly|to hop",l:5},
			{ka:"とまる",kj:"止まる",t:"to come to a halt",l:5},
			{ka:"ともだち",kj:"友達",t:"friend",l:5},
			{ka:"どようび",kj:"土曜日",t:"saturday",l:5},
			{ka:"とり",kj:"鳥",t:"bird",l:5},
			{ka:"とりにく",kj:"とり肉",t:"chicken meat",l:5},
			{ka:"とる",kj:"取る",t:"to take",l:5},
			{ka:"とる",kj:"撮る",t:"to take (a photo)|to take",l:5},
			{ka:"どれ",t:"which (of three or more)|which",l:5},
			{ka:"どんな",t:"what|what kind of",l:5},
			{ka:"ない",t:"there isn't|doesn't have",l:5},
			{ka:"ナイフ",t:"knife",l:5},
			{ka:"なか",kj:"中",t:"inside|middle|among",l:5},
			{ka:"ながい",kj:"長い",t:"long",l:5},
			{ka:"～ながら",t:"while ~ing|during|although",l:5},
			{ka:"なく",kj:"鳴く",t:"to sing (bird)|to sing|to make sound",l:5},
			{ka:"なくす",kj:"無くす",t:"to lose something",l:5},
			{ka:"なぜ",t:"why",l:5},
			{ka:"なつ",kj:"夏",t:"summer",l:5},
			{ka:"なつやすみ",kj:"夏休み",t:"summer vacation|summer holiday",l:5},
			{ka:"～など",t:"et cetera",l:5},
			{ka:"ななつ",kj:"七つ",t:"seven",l:5},
			{ka:"なん|なに",kj:"何",t:"what",l:5},
			{ka:"なのか",kj:"七日",t:"seven days|the seventh day of the month",l:5},
			{ka:"なまえ",kj:"名前",t:"name",l:5},
			{ka:"ならう",kj:"習う",t:"to learn",l:5},
			{ka:"ならぶ",kj:"並ぶ",t:"to line up|to stand in a line",l:5},
			{ka:"ならべる",kj:"並べる",t:"to line up|to set up",l:5},
			{ka:"なる",t:"to become",l:5},
			{ka:"なん～",kj:"何～",t:"what sort of ～|what sort of",l:5},
			{ka:"に",kj:"二",t:"two",l:5},
			{ka:"にぎやか",t:"bustling|busy",l:5},
			{ka:"にく",kj:"肉",t:"meat",l:5},
			{ka:"にし",kj:"西",t:"west",l:5},
			{ka:"～にち",kj:"～日",t:"～ day of the month|for ～ days|day of the month|days",l:5},
			{ka:"にちようび",kj:"日曜日",t:"sunday",l:5},
			{ka:"にもつ",kj:"荷物",t:"luggage",l:5},
			{ka:"ニュース",t:"news",l:5},
			{ka:"にわ",kj:"庭",t:"garden",l:5},
			{ka:"～にん",kj:"～人",t:"counter for people",l:5},
			{ka:"ぬぐ",kj:"脱ぐ",t:"to take off clothes",l:5},
			{ka:"ぬるい",kj:"温い",t:"lukewarm",l:5},
			{ka:"ネクタイ",t:"tie|necktie",l:5},
			{ka:"ねこ",kj:"猫",t:"cat",l:5},
			{ka:"ねる",kj:"寝る",t:"to go to bed|to sleep",l:5},
			{ka:"～ねん",kj:"～年",t:"～ years|years",l:5},
			{ka:"ノート",t:"notebook|exercise book",l:5},
			{ka:"のぼる",kj:"登る",t:"to climb",l:5},
			{ka:"のみもの",kj:"飲み物",t:"drink|beverage",l:5},
			{ka:"のむ",kj:"飲む",t:"to drink",l:5},
			{ka:"のる",kj:"乗る",t:"to get on|to ride in|to board",l:5},
			{ka:"は",kj:"歯",t:"tooth",l:5},
			{ka:"パーティー",t:"party",l:5},
			{ka:"はい",t:"yes",l:5},
			{ka:"～はい",kj:"～杯",t:"counter for cupfuls",l:5},
			{ka:"はいざら",kj:"灰皿",t:"ashtray",l:5},
			{ka:"はいる",kj:"入る",t:"to enter|to contain|to hold",l:5},
			{ka:"はがき",kj:"葉書",t:"postcard",l:5},
			{ka:"はく",t:"to wear|to put on (trousers)|to put on",l:5},
			{ka:"はこ",kj:"箱",t:"box",l:5},
			{ka:"はし",kj:"橋",t:"bridge",l:5},
			{ka:"はし",t:"chopsticks",l:5},
			{ka:"はじまる",kj:"始まる",t:"to begin",l:5},
			{ka:"はじめ",kj:"初め|始め",t:"beginning|start",l:5},
			{ka:"はじめて",kj:"初めて",t:"for the first time",l:5},
			{ka:"はしる",kj:"走る",t:"to run",l:5},
			{ka:"バス",t:"bus",l:5},
			{ka:"バター",t:"butter",l:5},
			{ka:"はたち",kj:"二十歳",t:"20 years old|20th year",l:5},
			{ka:"はたらく",kj:"働く",t:"to work",l:5},
			{ka:"はち",kj:"八",t:"eight",l:5},
			{ka:"はつか",kj:"二十日",t:"twenty days|twentieth day of the month",l:5},
			{ka:"はな",kj:"花",t:"flower",l:5},
			{ka:"はな",kj:"鼻",t:"nose",l:5},
			{ka:"はなし",kj:"話",t:"talk|story",l:5},
			{ka:"はなす",kj:"話す",t:"to speak",l:5},
			{ka:"はは",kj:"母",t:"(one's own) mother|mother|mom",l:5},
			{ka:"はやい",kj:"早い",t:"early",l:5},
			{ka:"はやい",kj:"速い",t:"quick|fast",l:5},
			{ka:"はる",kj:"春",t:"spring",l:5},
			{ka:"はる",kj:"貼る",t:"to stick|to paste",l:5},
			{ka:"はれ",kj:"晴れ",t:"clear weather",l:5},
			{ka:"はれる",kj:"晴れる",t:"to be sunny",l:5},
			{ka:"はん",kj:"半",t:"half",l:5},
			{ka:"ばん",kj:"晩",t:"evening",l:5},
			{ka:"～ばん",kj:"～番",t:"～st/th best|nth best",l:5},
			{ka:"パン",t:"bread",l:5},
			{ka:"ハンカチ",t:"handkerchief",l:5},
			{ka:"ばんごう",kj:"番号",t:"number",l:5},
			{ka:"ばんごはん",kj:"晩御飯",t:"dinner|evening meal",l:5},
			{ka:"はんぶん",kj:"半分",t:"half",l:5},
			{ka:"ひがし",kj:"東",t:"east",l:5},
			{ka:"～ひき",kj:"～匹",t:"counter for small animals",l:5},
			{ka:"ひく",kj:"引く",t:"to pull",l:5},
			{ka:"ひく",kj:"弾く",t:"to play (piano/guitar)|to play",l:5},
			{ka:"ひくい",kj:"低い",t:"short|low",l:5},
			{ka:"ひこうき",kj:"飛行機",t:"aeroplane|airplane",l:5},
			{ka:"ひだり",kj:"左",t:"left hand side",l:5},
			{ka:"ひと",kj:"人",t:"man|person",l:5},
			{ka:"ひとつ",kj:"一つ",t:"one",l:5},
			{ka:"ひとつき",kj:"一月",t:"one month",l:5},
			{ka:"ひとり",kj:"一人",t:"one person",l:5},
			{ka:"ひま",kj:"暇",t:"free time|leisure",l:5},
			{ka:"ひゃく",kj:"百",t:"100|hundred",l:5},
			{ka:"びょういん",kj:"病院",t:"hospital",l:5},
			{ka:"びょうき",kj:"病気",t:"illness|disease|sickness",l:5},
			{ka:"ひらがな",kj:"平仮名",t:"hiragana",l:5},
			{ka:"ひる",kj:"昼",t:"noon|daytime",l:5},
			{ka:"ひるごはん",kj:"昼御飯",t:"lunch|midday meal",l:5},
			{ka:"ひろい",kj:"広い",t:"spacious|wide",l:5},
			{ka:"フィルム",t:"film (roll of)|film",l:5},
			{ka:"ふうとう",kj:"封筒",t:"envelope",l:5},
			{ka:"プール",t:"swimming pool",l:5},
			{ka:"フォーク",t:"fork",l:5},
			{ka:"ふく",kj:"吹く",t:"to blow (wind/etc)|to blow",l:5},
			{ka:"ふく",kj:"服",t:"clothes",l:5},
			{ka:"ふたつ",kj:"二つ",t:"two",l:5},
			{ka:"ぶたにく",kj:"豚肉",t:"pork",l:5},
			{ka:"ふたり",kj:"二人",t:"two people",l:5},
			{ka:"ふつか",kj:"二日",t:"second day of the month|two days",l:5},
			{ka:"ふとい",kj:"太い",t:"fat|thick",l:5},
			{ka:"ふゆ",kj:"冬",t:"winter",l:5},
			{ka:"ふる",kj:"降る",t:"to precipitate|to fall (e.g. rain)|rain|to fall",l:5},
			{ka:"ふるい",kj:"古い",t:"old (not person)|old|aged|ancient",l:5},
			{ka:"ふろ",t:"bath",l:5},
			{ka:"～ふん",kj:"～分",t:"～minutes|minutes",l:5},
			{ka:"ぶんしょう",kj:"文章",t:"sentence|text",l:5},
			{ka:"ページ",t:"page",l:5},
			{ka:"へた",kj:"下手",t:"unskillful|poor",l:5},
			{ka:"ベッド",t:"bed",l:5},
			{ka:"ペット",t:"pet",l:5},
			{ka:"へや",kj:"部屋",t:"room",l:5},
			{ka:"へん",kj:"辺",t:"area|vicinity",l:5},
			{ka:"ペン",t:"pen",l:5},
			{ka:"べんきょう（する）",kj:"勉強",t:"study|diligence",l:5},
			{ka:"べんり",kj:"便利",t:"convenient|handy",l:5},
			{ka:"ほう",t:"way",l:5},
			{ka:"ぼうし",kj:"帽子",t:"hat",l:5},
			{ka:"ボールペン",t:"ball-point pen",l:5},
			{ka:"ほか",kj:"外",t:"other place|the rest",l:5},
			{ka:"ポケット",t:"pocket",l:5},
			{ka:"ほしい",kj:"欲しい",t:"want|in need of|desire",l:5},
			{ka:"ポスト",t:"post",l:5},
			{ka:"ほそい",kj:"細い",t:"thin|slender|fine",l:5},
			{ka:"ボタン",t:"button",l:5},
			{ka:"ホテル",t:"hotel",l:5},
			{ka:"ほん",kj:"本",t:"book",l:5},
			{ka:"～ほん",kj:"～本",t:"counter for long cylindrical things|counter",l:5},
			{ka:"ほんだな",kj:"本棚",t:"bookshelves",l:5},
			{ka:"ほんとう",t:"reality|truth",l:5},
			{ka:"～まい",kj:"～枚",t:"counter for flat things|counter",l:5},
			{ka:"まいあさ",kj:"毎朝",t:"every morning",l:5},
			{ka:"まいげつ|まいつき",kj:"毎月",t:"every month|monthly",l:5},
			{ka:"まいしゅう",kj:"毎週",t:"every week",l:5},
			{ka:"まいにち",kj:"毎日",t:"every day",l:5},
			{ka:"まいねん|まいとし",kj:"毎年",t:"every year|annually",l:5},
			{ka:"まいばん",kj:"毎晩",t:"every night",l:5},
			{ka:"まえ",kj:"前",t:"before|in front",l:5},
			{ka:"～まえ",kj:"～前",t:"in front of ～|in front of",l:5},
			{ka:"まがる",kj:"曲る",t:"to turn|to bend",l:5},
			{ka:"まずい",t:"unappetising|unpleasant (taste)|unpleasant",l:5},
			{ka:"また",t:"again|and",l:5},
			{ka:"まだ",t:"yet|still|besides",l:5},
			{ka:"まち",kj:"町",t:"town|city",l:5},
			{ka:"まつ",kj:"待つ",t:"to wait",l:5},
			{ka:"まっすぐ",t:"straight (ahead)|straight|direct",l:5},
			{ka:"マッチ",t:"match",l:5},
			{ka:"まど",kj:"窓",t:"window",l:5},
			{ka:"まるい",kj:"丸い|円い",t:"round|circular",l:5},
			{ka:"まん",kj:"万",t:"ten thousand|everything",l:5},
			{ka:"まんねんひつ",kj:"万年筆",t:"fountain pen",l:5},
			{ka:"みがく",kj:"磨く",t:"to brush (teeth)|to brush",l:5},
			{ka:"みぎ",kj:"右",t:"right hand side",l:5},
			{ka:"みじかい",kj:"短い",t:"short",l:5},
			{ka:"みず",kj:"水",t:"water",l:5},
			{ka:"みせ",kj:"店",t:"store|shop|establishment",l:5},
			{ka:"みせる",kj:"見せる",t:"to show|to display",l:5},
			{ka:"みち",kj:"道",t:"road|street",l:5},
			{ka:"みっか",kj:"三日",t:"three days|the third day of the month",l:5},
			{ka:"みっつ",kj:"三つ",t:"three",l:5},
			{ka:"みどり",kj:"緑",t:"green",l:5},
			{ka:"みなさん",kj:"皆さん",t:"everyone",l:5},
			{ka:"みなみ",kj:"南",t:"south|proceeding south",l:5},
			{ka:"みみ",kj:"耳",t:"ear",l:5},
			{ka:"みる",kj:"見る",t:"to see|to watch",l:5},
			{ka:"みんな",t:"all|everyone|everybody",l:5},
			{ka:"むいか",kj:"六日",t:"six days|sixth day of month",l:5},
			{ka:"むこう",kj:"向こう",t:"beyond|over there",l:5},
			{ka:"むずかしい",kj:"難しい",t:"difficult",l:5},
			{ka:"むっつ",kj:"六つ",t:"six",l:5},
			{ka:"むら",kj:"村",t:"village",l:5},
			{ka:"め",kj:"目",t:"eye|eyeball",l:5},
			{ka:"メートル",t:"metre|meter",l:5},
			{ka:"めがね",kj:"眼鏡",t:"spectacles|glasses",l:5},
			{ka:"もう",t:"already",l:5},
			{ka:"もう",t:"again",l:5},
			{ka:"もくようび",kj:"木曜日",t:"thursday",l:5},
			{ka:"もしもし",t:"hello (on phone)|hello",l:5},
			{ka:"もつ",kj:"持つ",t:"to hold|to carry|to possess",l:5},
			{ka:"もっと",t:"more|longer|farther",l:5},
			{ka:"もの",kj:"物",t:"thing|object",l:5},
			{ka:"もん",kj:"門",t:"gate",l:5},
			{ka:"もんだい",kj:"問題",t:"problem|question",l:5},
			{ka:"～や",kj:"屋",t:"～ shop|shop",l:5},
			{ka:"やおや",kj:"八百屋",t:"greengrocer",l:5},
			{ka:"やさい",kj:"野菜",t:"vegetable",l:5},
			{ka:"やさしい",kj:"易しい",t:"easy|plain|simple",l:5},
			{ka:"やすい",kj:"安い",t:"cheap|inexpensive",l:5},
			{ka:"やすみ",kj:"休み",t:"rest|vacation|holiday",l:5},
			{ka:"やすむ",kj:"休む",t:"to rest|to have a break|to take a day off",l:5},
			{ka:"やっつ",kj:"八つ",t:"eight",l:5},
			{ka:"やま",kj:"山",t:"mountain",l:5},
			{ka:"やる",t:"to do",l:5},
			{ka:"ゆうがた",kj:"夕方",t:"evening",l:5},
			{ka:"ゆうはん",kj:"夕飯",t:"dinner",l:5},
			{ka:"ゆうびんきょく",kj:"郵便局",t:"post office",l:5},
			{ka:"ゆうべ",kj:"昨夜",t:"last night",l:5},
			{ka:"ゆうめい",kj:"有名",t:"famous",l:5},
			{ka:"ゆき",kj:"雪",t:"snow",l:5},
			{ka:"ゆっくり|ゆっくりと",t:"slowly|at ease",l:5},
			{ka:"ようか",kj:"八日",t:"eight days|the eighth day of the month",l:5},
			{ka:"ようふく",kj:"洋服",t:"western-style clothes",l:5},
			{ka:"よく",t:"frequently|often",l:5},
			{ka:"よく",t:"well|skillfully",l:5},
			{ka:"よこ",kj:"横",t:"beside|side|width",l:5},
			{ka:"よっか",kj:"四日",t:"four days|the fourth day of month",l:5},
			{ka:"よっつ",kj:"四つ",t:"four",l:5},
			{ka:"よぶ",kj:"呼ぶ",t:"to call out|to invite",l:5},
			{ka:"よむ",kj:"読む",t:"to read",l:5},
			{ka:"よる",kj:"夜",t:"evening|night",l:5},
			{ka:"よわい",kj:"弱い",t:"weak|feable",l:5},
			{ka:"らいげつ",kj:"来月",t:"next month",l:5},
			{ka:"らいしゅう",kj:"来週",t:"next week",l:5},
			{ka:"らいねん",kj:"来年",t:"next year",l:5},
			{ka:"ラジオ",t:"radio",l:5},
			{ka:"ラジカセ",t:"radio cassette player",l:5},
			{ka:"りっぱ",t:"splendid|fine",l:5},
			{ka:"りゅうがくせい",kj:"留学生",t:"overseas student",l:5},
			{ka:"りょうしん",kj:"両親",t:"parents|both parents",l:5},
			{ka:"りょうり",kj:"料理",t:"cooking|cuisine",l:5},
			{ka:"りょこう",kj:"旅行",t:"travel|trip",l:5},
			{ka:"れい",kj:"零",t:"zero|nought",l:5},
			{ka:"れいぞうこ",kj:"冷蔵庫",t:"refrigerator",l:5},
			{ka:"レコード",t:"record",l:5},
			{ka:"レストラン",t:"restaurant",l:5},
			{ka:"れんしゅう（する）",kj:"練習",t:"(to) practice|practice",l:5},
			{ka:"ろうか",kj:"廊下",t:"corridor",l:5},
			{ka:"ろく",kj:"六",t:"six",l:5},
			{ka:"ワイシャツ",t:"shirt (lit: white shirt)|shirt|business shirt",l:5},
			{ka:"わかい",kj:"若い",t:"young",l:5},
			{ka:"わかる",kj:"分かる",t:"to understand",l:5},
			{ka:"わすれる",kj:"忘れる",t:"to forget",l:5},
			{ka:"わたし",kj:"私",t:"i|myself",l:5},
			{ka:"わたくし",kj:"私",t:"i|myself",l:5},
			{ka:"わたす",kj:"渡す",t:"to pass over|to hand over",l:5},
			{ka:"わたる",kj:"渡る",t:"to cross over|to go across",l:5},
			{ka:"わるい",kj:"悪い",t:"bad|inferior",l:5},
		];
		
		$(function() {
			new Vue({
				el: "#app",
				template: "#main",
				data: {
					master: database,
					list: [],
					finished: [],
					history: [],
					marked: [],
					total: 0,
					current: null,
					fragment: {},
					iswrong: false,
					iswrong2: false,
					answer: "",
					answer2: "",
					testmode: localStorage.getItem("testmode") === "true", //f: JPN -> ENG; t: ENG -> JPN
					kanawrite: localStorage.getItem("kanawrite") === "true", //f: show text; t: must as part of test
					historyfilterthresh: localStorage.getItem("historyfilterthresh") !== "false",
					allown1: localStorage.getItem("allown1") !== "false",
					allown2: localStorage.getItem("allown2") !== "false",
					allown3: localStorage.getItem("allown3") !== "false",
					allown4: localStorage.getItem("allown4") !== "false",
					allown5: localStorage.getItem("allown5") !== "false",
					markedonly: localStorage.getItem("markedonly") === "true",
					threshold: parseFloat(localStorage.getItem("threshold") || 1),
					thresholdin: localStorage.getItem("threshold") || "1",
					drawpoints: {},
					mousedown: false,
					attempt: 0,
					isrevealed: false,
					isfinished: false,
					popper: null,
					error: "",
					viewhistory: false,
					viewmarks: false
				},
				mounted: function() {
					var store = localStorage.getItem("history");
					if (store) {
						try {
							var data = JSON.parse(store);
							if (data instanceof Array) {
								this.history = data;
							}
						} catch {
							localStorage.removeItem("history");
						}
					}
					
					var marked = localStorage.getItem("marked");
					if (marked) {
						try {
							var data = JSON.parse(marked);
							if (data instanceof Array) {
								this.marked = data;
							}
						} catch {
							localStorage.removeItem("marked");
						}
					}
				},
				computed: {
					fragmentwidth: function() {
						if (this.total)
							return (100 / this.total) + "%";
						return "0px";
					},
					progress: function() {
						if (this.total && this.finished.length)
							return (this.finished.length / this.total * 100).toFixed(2);
						return 0;
					},
					worklist: function() {
						return this.finished.filter(function(item) {
							return item.incorrect;
						});
					}
				},
				watch: {
					history: {
						handler: function() {
							localStorage.setItem("history", JSON.stringify(this.history));
						},
						deep: true
					},
					marked: function() {
						localStorage.setItem("marked", JSON.stringify(this.marked));
					},
					historyfilterthresh: function() {
						localStorage.setItem("historyfilterthresh", this.historyfilterthresh);
					},
					testmode: function() {
						localStorage.setItem("testmode", this.testmode);
					},
					kanawrite: function() {
						localStorage.setItem("kanawrite", this.kanawrite);
					},
					allown1: function() {
						localStorage.setItem("allown1", this.allown1);
					},
					allown2: function() {
						localStorage.setItem("allown2", this.allown2);
					},
					allown3: function() {
						localStorage.setItem("allown3", this.allown3);
					},
					allown4: function() {
						localStorage.setItem("allown4", this.allown4);
					},
					allown5: function() {
						localStorage.setItem("allown5", this.allown5);
					},
					markedonly: function() {
						localStorage.setItem("markedonly", this.markedonly);
					},
					thresholdin: function() {
						var value = parseFloat(this.thresholdin);
						if (!isNaN(value)) {
							this.threshold = value;
						}
					},
					threshold: function() {
						localStorage.setItem("threshold", this.threshold);
					}
				},
				methods: {
					pick: function() {
						this.attempt = 0;
						this.isrevealed = false;
						this.isfinished = false;
						this.error = "";

						if (!this.list.length) {
							this.reset();
							
							//too many filters applied
							if (!this.list.length) {
								this.error = "No items to test. Try removing filters";
								return;
							}
						}
						
						//pick next question, but dont allow reask the same question back to back
						var pick = this.list[Math.floor(Math.random()*this.list.length)];
						if (pick === this.current && this.list.length > 1)
							return this.pick();
						this.current = pick;
						
						if ("undefined" === typeof this.current.correct)
							Vue.set(this.current, "correct", 0);
						if ("undefined" === typeof this.current.incorrect)
							Vue.set(this.current, "incorrect", 0);
						if ("undefined" === typeof this.current.viewed)
							Vue.set(this.current, "viewed", 0);
					},
					getscore: function(item) {
						if (!item.incorrect)
							return 1;
						return Math.min(1, item.correct / item.incorrect);
					},
					reset: function() {
						this.list.splice(0);
						this.finished.splice(0);
						this.master.forEach(function(item) {
							//filter out unselected levels
							if (item.l === 1 && !this.allown1)
								return;
							if (item.l === 2 && !this.allown2)
								return;
							if (item.l === 3 && !this.allown3)
								return;
							if (item.l === 4 && !this.allown4)
								return;
							if (item.l === 5 && !this.allown5)
								return;
							if (this.markedonly && !this.ismarked(item))
								return;
							
							//clone and setup direction based on test mode
							var answers = item.t.split("|"),
								sa = (item.kj || item.ka).split("|"),
								newitem = {};
								
							if (this.testmode) {
								//ENG -> JPN
								newitem.q = answers[0];
								
								if (sa.length === 1) {
									newitem.a = sa[0];
								} else {
									newitem.a = sa;
								}
							} else {
								//JPN -> ENG
								newitem.q = sa[0];
								
								if (item.kj) {
									var kas = item.ka.split("|");
									if (kas.length === 1) {
										newitem.p = kas[0];
									} else {
										newitem.p = kas;
									}
								}
									
								if (answers.length === 1) {
									newitem.a = answers[0];
								} else {
									newitem.a = answers;
								}
							}
							this.list.push(newitem);
						}.bind(this));
						this.total = this.list.length; //#TODO: this is probably not needed. just use list.length directly
					},
					mainmenu: function() {
						this.list.splice(0);
						this.finished.splice(0);
						this.total = 0;
						this.current = null;
					},
					track: function() {
						if (!this.current)
							return;
						
						var fidx = -1;
							len = this.history.length;
						for (var i = 0; i < len; i++) {
							if (this.history[i].q === this.current.q) {
								fidx = i;
								break;
							}
						}
						
						if (fidx === -1) {
							this.history.push(this.current);
						} else {
							this.history[fidx].incorrect += this.current.incorrect;
							this.history[fidx].correct += this.current.correct;
						}
					},
					check: function(e) {
						e.preventDefault && e.preventDefault();
						
						//restart list if empty
						if (!this.list.length)
							return this.pick();
							
						var answer = this.answer.toLowerCase(),
							answer2 = this.answer2.toLowerCase(),
							answers = this.current.a;
						if (!answer) //dont penalize for blank entry
							return;
						if (!answer2 && this.current.p && this.kanawrite)
							return;
							
						this.iswrong = false;
						this.iswrong2 = false;
						if (this.current.a instanceof Array && this.current.a.indexOf(answer) === -1) {
							this.iswrong = true;
						} else if (typeof this.current.a === "string" && this.current.a !== answer) {
							this.iswrong = true;
						}
						if (this.kanawrite) {
							if (this.current.p instanceof Array && this.current.p.indexOf(answer2) === -1) {
								this.iswrong2 = true;
							} else if (typeof this.current.p === "string" && this.current.p !== answer2) {
								this.iswrong2 = true;
							}
						}
							
						if (this.iswrong || this.iswrong2) {
							this.current.incorrect++;
							this.attempt++;
						} else {
							//if this is the first time this node was completed, add to the finish pile for display
							var fidx = this.finished.indexOf(this.current);
							if (fidx === -1)
								this.finished.push(this.current);
								
							//remove the item only if there were no misses for this viewing
							if (this.attempt === 0) {
								this.current.correct++;
								this.track();
								var idx = this.list.indexOf(this.current);
								if (idx !== -1)
									this.list.splice(idx, 1);
							}
							
							this.current.viewed++;
							this.answer = "";
							this.answer2 = "";
							$("[name=answer]", this.$el).focus();
							
							if (this.list.length) {
								this.pick();
							} else {
								this.current = {ka: ":)", finished: true};
							}
						}
					},				
					togglehistory: function() {
						this.viewhistory = !this.viewhistory;
					},
					clearhistory: function() {
						this.history.splice(0);
					},
					clearmarks: function() {
						this.marked.splice(0);
					},
					ismarked: function(item) {
						var id = item.ka+(item.kj||"");
						if (this.marked.indexOf(id) === -1)
							return false;
						return true;
					},
					setmark: function(item, index) {
						var checked = $(this.$refs.cb[index]).is(":checked"),
							id = item.ka+(item.kj||""),
							idx = this.marked.indexOf(id);
						
						if (checked && idx === -1) {
							this.marked.push(id);
						} else if (!checked && idx !== -1) {
							this.marked.splice(idx, 1);
						}
					},
					
					//Toop tip handlers
					tipshow: function(el) {
						if (!el || el.className.indexOf("fragment") === -1)
							return;
						
						if (!this.popper) {
							this.popper = new Popper(el, $("div.popper", this.$el), {
								placement: 'top',
								modifiers: {arrow:{element:'.popper__arrow'}}
							});
						} else if (el === this.popper.reference) {
							return;
						}
						
						var idx = $(el).data("idx");
						this.fragment = this.finished[idx];

						$(this.popper.popper).addClass("show");
						this.popper.reference = el;
						this.popper.update();
					},
					tipstart: function(e) {
						e.preventDefault();
						var touch = e.touches[0] || e.changedTouches[0],
							el = document.elementFromPoint(touch.pageX, touch.pageY);
						this.tipshow(el);
					},
					tipmove: function(e) {
						e.preventDefault();
						var touch = e.touches[0] || e.changedTouches[0],
							el = document.elementFromPoint(touch.pageX, touch.pageY);
						this.tipshow(el);
					},
					tipend: function(e) {
						e.preventDefault();
						if (this.popper) {
							this.popper.reference = null;
							$(this.popper.popper).removeClass("show");
						}
					}
				}
			});
		});
	</script>
	<style>
		button {touch-action: manipulation;}
		.wrong {border-color: #f00 !important;}
		.progressbar {
			border-bottom: solid 2px #ccc;
			height: 30px;
		}
		.progressbar .fragment {
			height: 100%;
		}
		.progressbar .fragment.selected {
			outline: solid 2px #f00;
			z-index: 1;
			position: relative;
		}
		.progressbar .fragment.selected:after {
			content: "";
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid black;
			left: 50%;
			margin-left: -2.5px;
			position: absolute;
			bottom: 0%;
			margin-bottom: -20px;
		}
		.progressbar .fragment.selected > .viewcount {
			position: absolute;
			bottom: 0%;
			margin-bottom: -45px;
			width: 100%;
			white-space: nowrap;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.progressbar .perfect {
			background-color: #b9eab9;
		}
		.progressbar .pickup {
			background-color: #fcff56;
		}
		.progressbar .missed {
			background-color: #ff8e8e;
		}
		.popper {
			position: absolute;
			background: #FFC107;
			color: black;
			width: 120px;
			border-radius: 3px;
			box-shadow: 0 0 2px rgba(0,0,0,0.5);
			padding: 10px;
			text-align: center;
			display: none;
			z-index: 4;
		}
		.popper.show {
			display: block;
		}
		.popper .popper__arrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			margin: 5px;
		}
		.popper .popper__arrow {
			border-color: #FFC107;
		}
		.popper[x-placement^="top"] {
			margin-bottom: 5px;
		}
		.popper[x-placement^="top"] .popper__arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.popper[x-placement^="bottom"] {
			margin-top: 5px;
		}
		.popper[x-placement^="bottom"] .popper__arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: transparent;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
		.popper[x-placement^="right"] {
			margin-left: 5px;
		}
		.popper[x-placement^="right"] .popper__arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent;
			border-top-color: transparent;
			border-bottom-color: transparent;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
		.popper[x-placement^="left"] {
			margin-right: 5px;
		}
		.popper[x-placement^="left"] .popper__arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
		.onoffswitch {
			position: relative; width: 40px;
			-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		}
		.onoffswitch-checkbox {
			display: none;
		}
		.onoffswitch-label {
			display: block; overflow: hidden; cursor: pointer;
			height: 20px; padding: 0; margin: 0; line-height: 20px;
			border: 2px solid #E3E3E3; border-radius: 20px;
			background-color: #FFFFFF;
			transition: background-color 0.3s ease-in;
		}
		.onoffswitch-label:before {
			content: "";
			display: block; width: 20px; margin: 0px;
			background: #FFFFFF;
			position: absolute; top: 0; bottom: 0;
			right: 18px;
			border: 2px solid #E3E3E3; border-radius: 20px;
			transition: all 0.3s ease-in 0s; 
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label {
			background-color: #4693EB;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
			border-color: #4693EB;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label:before {
			right: 0px;
		}
		input.error,
		input.error:focus {
			border-color: #f00;
			background: #f7b2b2;
		}
		.kana + .kana:before {
			content: ",";
			margin-right: 1em;
		}
		
		@media (max-width: 450px) {
			.progressbar {
				height: 50px;
			}
		}
	</style>
	<script id="main" type="text/x-vue-template">
		<div class="p-4">
			<div v-if="viewmarks">
				<h3 class="m-2">Test List:</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Kanji/Kana</th>
							<th>Meaning</th>
							<th>Marked</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in master">
							<td>
								<p class="m-0" v-for="value in (item.kj || item.ka).split('|')">
									{{value}}
								</p>
							</td>
							<td>
								<p class="m-0" v-for="value in (item.t).split('|')">
									{{value}}
								</p>
							</td>
							<td>
								<input type="checkbox" :checked="ismarked(item)" v-on:change="setmark(item, index)" ref="cb" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col text-center p-3">
						<button v-if="marked.length" type="button" class="btn btn-primary" v-on:click="clearmarks">
							Clear All Marks
						</button>
						<button type="button" class="btn btn-secondary" v-on:click="viewmarks = false">
							Close
						</button>
					</div>
				</div>
			</div>
			<div v-else-if="viewhistory">
				<div v-if="history.length">
					<h3 class="m-2">History:</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Test</th>
								<th>Y</th>
								<th>N</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in history" v-if="!historyfilterthresh || (historyfilterthresh && (getscore(item) <= threshold))">
								<td>
									{{item.q}}&#x2192;
									<ul v-if="item.a instanceof Array">
										<li v-for="value in item.a">{{value}}</li>
									</ul>
									<span v-else>{{item.a}}</span>
								</td>
								<td>{{item.correct}}</td>
								<td>{{item.incorrect}}</td>
								<td>{{getscore(item).toFixed(2)}}</td>
							</tr>
						</tbody>
					</table>
					<div class="form-check m-3">
						<input class="form-check-input" type="checkbox" v-model="historyfilterthresh" id="historyfilterthresh">
						<label class="form-check-label" for="historyfilterthresh">
							Only show scores at or below the threshold ({{threshold}})
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col text-center p-3">
						<button v-if="history.length" type="button" class="btn btn-primary" v-on:click="clearhistory">
							Clear History
						</button>
						<button type="button" class="btn btn-secondary" v-on:click="togglehistory">
							Close
						</button>
					</div>
				</div>
			</div>
			<div v-else-if="!current">
				<h1 class="text-center mb-4">JTester</h1>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbtm">Test Mode</label>
					<div class="col-5">
						<div class="onoffswitch d-inline-block align-middle">
							<input v-model="testmode" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbtm">
							<label class="onoffswitch-label" for="cbtm"></label>
						</div>
						<span class="align-middle ml-2" v-if="testmode">ENG - JPN</span>
						<span class="align-middle ml-2" v-else>JPN -> ENG</span>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbkm">Kana</label>
					<div class="col-5">
						<div class="onoffswitch d-inline-block align-middle">
							<input v-model="kanawrite" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbkm">
							<label class="onoffswitch-label" for="cbkm"></label>
						</div>
						<span class="align-middle ml-2" v-if="kanawrite">Hide/Write</span>
						<span class="align-middle ml-2" v-else>Show</span>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2 mt-4">
					<h3 class="col mb-0 text-center" for="cbts">Filters</h3>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">N5</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allown5" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbn5">
							<label class="onoffswitch-label" for="cbn5"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">N4</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allown4" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbn4">
							<label class="onoffswitch-label" for="cbn4"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">N3</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allown3" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbn3">
							<label class="onoffswitch-label" for="cbn3"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">N2</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allown2" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbn2">
							<label class="onoffswitch-label" for="cbn2"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbts">N1</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="allown1" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbn1">
							<label class="onoffswitch-label" for="cbn1"></label>
						</div>
					</div>
				</div>
				<div class="row align-items-center justify-content-center my-2">
					<label class="col-5 mb-0 text-right" for="cbmo">Marked Only</label>
					<div class="col-5">
						<div class="onoffswitch">
							<input v-model="markedonly" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="cbmo">
							<label class="onoffswitch-label" for="cbmo"></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col text-center p-3">
						<button type="button" class="btn btn-primary" v-on:click="pick">
							Start
						</button>
						<button v-if="history.length" type="button" class="btn btn-secondary" v-on:click="togglehistory">
							View History
						</button>
						<button type="button" class="btn btn-secondary" v-on:click="viewmarks = true">
							View Marked
						</button>
					</div>
				</div>
				<div v-if="error" class="row">
					<div class="col text-center p-3 h5">
						{{error}}
					</div>
				</div>
			</div>
			<div v-else>
				<h1 class="glyph p-0 text-center">{{current.q}}</h1>
				<div class="row">
					<div class="col col-9 mx-auto py-1 px-2">
						<form v-on:submit="check">
							<div v-if="current.finished" class="text-center">
								<button class="btn btn-primary" type="button" v-on:click="mainmenu">Main Menu</button> 
								<button class="btn btn-primary" type="submit">Start Again</button> 
							</div>
							<div v-else>
								<div v-if="current.p && kanawrite" class="input-group mb-2">
									<label for="answer2" class="mr-2 col-form-label">Kana:</label>
									<input type="text" id="answer2" name="answer2" class="form-control" :class="{'wrong': iswrong2}" autocorrect="off" autocomplete="off" v-model.trim="answer2" />
								</div>
								<h2 v-if="current.p && !kanawrite" class="mb-2 text-center">
									<template v-if="current.p instanceof Array">
										<span v-for="item in current.p" class="kana">{{item}}</span>
									</template>
									<span v-else>{{current.p}}</span>
								</h2>
								<div class="input-group">
									<label for="answer" class="mr-2 col-form-label">ENG:</label>
									<input type="text" id="answer" name="answer" class="form-control" :class="{'wrong': iswrong}" autocorrect="off" autocomplete="off" v-model.trim="answer" />
									<div class="input-group-append">
										<button class="btn btn-primary" :class="{'btn-danger': iswrong || iswrong2}" type="submit">Go</button> 
									</div>
								</div>
								<div v-if="attempt > 2" class="mt-4">
									<div v-if="current.p instanceof Array">
										<p>Kana:</p>
										<ul>
											<li v-for="value in current.p">{{value}}</li>
										</ul>
									</div>
									<p v-else-if="typeof current.p === 'string'">Kana: {{current.p}}</p>
									<div v-if="current.a instanceof Array">
										<p>Translations:</p>
										<ul>
											<li v-for="value in current.a">{{value}}</li>
										</ul>
									</div>
									<p v-else>Translation: {{current.a}}</p>									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>		
			<div v-if="this.total" class="row">
				<div class="col col-9 mx-auto py-1 px-2 d-flex align-items-center">
					<div class="d-flex flex-grow-1 pb-2 progressbar" v-on:touchstart="tipstart" v-on:touchmove="tipmove" v-on:touchend="tipend" v-on:touchcancel="tipend">
						<span v-for="(item, index) in finished" :data-idx="index" :style="{width: fragmentwidth}" class="fragment" :class="{perfect: !item.incorrect, pickup: item.incorrect > 0 && item.incorrect < 3, missed: item.incorrect > 2, selected: current === item}" :title="'Correct: '+item.correct+' / Incorrect: '+item.incorrect">
							<span v-if="current === item" class="viewcount">Attempt #{{item.viewed+1}}</span>
						</span>
					</div>
					<label class="m-0 pl-2 small">{{progress}}%</label>
				</div>
			</div>
			<div v-if="current && current.finished && worklist.length" class="row">
				<div class="col col-9 mx-auto">
					<h3 class="my-2">Needs Work:</h3>
					<ul>
						<li v-for="item in worklist">					
							{{item.q}}&#x2192;
							<ul v-if="item.a instanceof Array">
								<li v-for="value in item.a">{{value}}</li>
							</ul>
							<span v-else>{{item.a}}</span>
							<span> - {{item.correct}} / {{item.incorrect}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="popper" role="tooltip">
				<span v-if="fragment.a">
					{{fragment.q}}&#x2192;
					<ul v-if="fragment.a instanceof Array">
						<li v-for="value in fragment.a">{{value}}</li>
					</ul>
					<span v-else>{{fragment.a}}</span>
					<span> - {{fragment.correct}} / {{fragment.incorrect}}</span>
				</span>
				<div class="popper__arrow"></div>
			</div>
		</div>
	</script>
</head>
<body>
	<div id="app"></div>
</body>
</html>